/*
    reset base ccs
*/

html,
body {
    width: 100%;
    font: 400 18px/1.62 $font-default;
    background: $color-default--bg;
}

img {
    max-width: 100%;
}

a {
    display: block;
    color: inherit;
    &:link,
    &:visited,
    &:hover,
    &:active {
        color: inherit;
        text-decoration: none;
    }
}

em {
    font-style: normal;
}

.btn{
    &:focus{
        outline: none !important;
    }
}
