/*
    Module css
*/
.is-hidden{
	display: none !important;
}

%btn-reset{
	color: $color-white;
	background-color: $color-waterBlue;
	border-radius: 2em;
	font-size: 1rem;
  padding: 0.5em 1.5em;
}