/*
 * State
 */

.is-hidden {
    display: none !important;
}

.is-btn-disable {
    cursor: not-allowed;
    &:hover {
        cursor: not-allowed;
    }
}


/*
 * color
 */

.color-yellow {
    color: $color-yellow;
    letter-spacing: $letter-spacing-m;
}

.color-light-yellow {
    color: $color-light-yellow;
    letter-spacing: $letter-spacing-m;
}

.color-gray {
    color: $color-gray !important;
    letter-spacing: $letter-spacing-m;
}

/*
 * Font
 */
.p-font-bold{
    font-weight: bold;
    font-size: 1.1em;
}

/*
 * Btn
 */

.btn-bg-white {
    background-color: $color-white !important;
    color: $color-pink !important;
    font-weight: bold;
}

.btn-bg-red {
    background-color: $color-pink !important;
    color: $color-white !important;
    font-weight: bold;

    &:hover{
        color: $color-pink !important;
        background-color: $color-white !important;
    }
}

.btn-bg-gray {
    background-color: $color-gray !important;
    color: $color-white !important;
    font-weight: bold;
}

%btn-reset {
    color: $color-btn--text;
    background-color: $color-btn--bg;
    border: solid 1px $color-btn--border;
    border-radius: 0px;
    font-size: 1rem;
    padding: 0.5em 1.5em;
}


/*
 * Keyframes
 */

@include keyframes(section-show) {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*
 * Layout
 */

%wrap-banner{
    position: relative;
    width: 100%;
    height: 50%;
    background: $color-default--bg url(../../img/banner/banner-1.jpg) center no-repeat;
    background-size: contain;
    margin-top: $padding-container;
    color: $color-black-light;

    @media(max-width: $table-l){
        background-size: cover;
    }

    .quote{
        position: absolute;
        width: 35%;
        min-width: 200px;
        padding: .4em .2em;
        left: 10%;
        bottom: 0px;
        font-weight: bold;
        background-color: rgba(255,255,255,.7);

        &.right{
            left: auto;
            right: 10%;
            bottom: 10%;

            @media(max-width: $table-l){
                bottom: -3em;
            }
        }

        @media(max-width: $table-l){
            width: 80%;
            left: 5%;
        }
    }

    .author{
        font-size: .7em;      
    }

    h3{
        margin-top: 0px;
        font-size: .9em;
        line-height: 1.3;
        letter-spacing: $letter-spacing-s;
    }
}

.content {
    text-align: justify;
}

.article {
    padding: 0;
    &:nth-of-type(1) {
        padding-top: 2rem;
    }
    .title {
        padding-bottom: .3em;
        border-bottom: 2px solid $color-title--border;
        @media (max-width: 767px) {
            padding: 1rem;
        }
    }
    .content {

    }

    strong{
        color: $color-pink;
    }
}

.banner-container {
    position: relative;
    .quote {
        @media (min-width: 992px) {
            position: absolute;
            background: rgba(255, 255, 255, 0.8);
            width: 420px;
            top: 100px;
            left: 10vw;
            padding: 2em 1.5em;
            &.quote--left {
                left: 10vw;
                right: initial;
            }
            &.quote--right {
                left: initial;
                right: 10vw;
            }
        }
        .author {
            float: right;
        }
    }
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: darken($color-yellow, 50%);
    z-index: 9;
    opacity: 0;
    transition: 0.3s ease-in-out;
    pointer-events: none;
    &.is-active {
        opacity: 0.6;
    }
}