/*
    Module css
*/

.is-hidden{
	display: none !important;
}

.container-reset {
  margin-top: calc(#{$height-header} + #{$height-menu});
}

%btn-reset{
	color: $color-white;
	background-color: $color-waterBlue;
	border-radius: 2em;
	font-size: 1rem;
  padding: 0.5em 1.5em;
}