.l-footer {
    background-color: $color-footer--bg;
    .list {
        height: auto;
        color: $color-footer--text;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 1em 0;
        @media (max-width: $table-l) {
            font-size: .8rem;
            flex-direction: column;
        }
        .item {
            flex: 1;
            text-align: center;
            margin: .5rem 0;
            @media (max-width: $table-l) {
                flex: none;
            }
            &.logo {
              img{
                vertical-align: sub;
              }
              @media (max-width: $table-l) {
                width: 60%;
                order: 1;
              }
            }
            &.m-social {
                display: flex;
                justify-content: center;
                img {
                    width: 35px;
                    margin: 0 .5rem;
                }
            }
        }
    }
}