/*
    header css
*/

.l-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background: $color-default--bg;
    z-index: 9;
    top: 0;
    padding: 0.5em 1em;
    background: url('/dist/img/background_color.png');
    background-size: contain;
    color: $color-dark-gray;
    font-size: $header-font-btn;
    font-weight: bold;
    letter-spacing: $letter-spacing-m;
    .m-logo {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        img {
            max-height: 190px;
            height: 17%;
        }
    }
    .m-apply {
        position: absolute;
        right: 0;
        right: 3em;
        top: 2em;
        .countdown {
            margin-right: 2em;
            color: $color-countdown--text;
        }

        .btn{
            padding: 0.5em 1em;
            margin-right: 2em;
            float: right;
            font-size: $header-font-btn;
        }
    }
}

.menu {
    position: relative;
    background: $color-primary;
    .m-nav {
        color: $color-menu--text;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: auto;
        padding: 0;
        width: 80%;
        z-index: 9;
        white-space: nowrap;
        letter-spacing: $letter-spacing-s;
        .list {
            margin: .4em 0px;
            &:hover {
                color: $color-menu--text-active;
            }
        }
        .text {
            font-size: 1rem;
            @media(max-width: 900px){
                font-size: .7rem;
            }
        }
    }
}

.m-nav--mobile{
    display: none;
}


@media (max-width: $table-l) {
    .l-header{
        display: none;
        .m-apply {
            display: none;
        }
    }

    .menu{
        height: auto;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 99;

        .m-nav{
            display: none;
        }
        .menu_button {
            position: absolute;
            width: 100%;
            height: 50px;
            right: 0;
            top: 0;
            z-index: 99;
            cursor: pointer;
            transition: all .7s;
            background-color: $color-menu--bg;
            .menu_button_container {
                position: relative;
                .menu-line {
                    position: absolute;
                    left: 12px;
                    width: 16px;
                    height: 1px;
                    background-color: #FFF;
                    transition: .3s;
                    &:nth-child(1) {
                        top: 20px;
                    }
                    &:nth-child(2) {
                        top: 25px;
                    }
                    &:nth-child(3) {
                        top: 30px;
                    }
                }
            }
            &.is-active {
                .menu-line {
                    &:nth-child(1) {
                        transform: translate(0, 5px) rotate(45deg);
                    }
                    &:nth-child(2) {
                        transform: scale(0);
                    }
                    &:nth-child(3) {
                        transform: translate(0, -5px) rotate(-45deg);
                    }
                }
            }
        }
    }
    .m-nav--mobile {
        display: block;
        width: 100%;
        color: $color-menu--text;
        background: $color-menu--bg;
        transition: 0.5s;
        z-index: 9;
        position: absolute;
        list-style: none;
        padding: $height-menu 0;
        top: 0;
        transform: translateY(-100%);
        &.is-active {
            transform: translateY(0);
            .list:after {
                opacity: 0.2;
            }
        }
        .list {
            padding: 0.5em;
            padding-left: 1.2em;
            position: relative;
            &:after {
                content: "";
                left: 0;
                height: 2px;
                width: 100%;
                opacity: 0;
                background: $color-menu--text;
                position: absolute;
                transition: 1s;
            }
            &:hover {
                &:after {
                    opacity: 0.5;
                }
            }
        }
    }
}