/*
    header css
*/

.l-header {
    @include transition(background .3s ease-in);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background: $color-default--bg;
    z-index: 9;
    top: 0;
    padding: 0.5em 1em;
    background: url(../../img/background.png);
    background-size: cover;
    color: $color-dark-gray;
    font-size: $header-font-btn;
    font-weight: bold;
    letter-spacing: $letter-spacing-m;
    .m-logo {
        height: 13vh;
        img {
            max-height: 190px;
            height: 20vh;
        }
        a {
            position: relative;
            z-index: 10;
            left: 3em;
            top: -.5em;
            &:hover {
                ~ h3{
                    opacity: 1;
                    color: $color-pink;
                }
            }
        }

        h3{
            position: absolute;
            left: 20%;
            top: 4em;
            font-size: 1em;
            font-weight: bold;
            opacity: .3;
        }
    }
    .m-apply {
        position: absolute;
        right: 0;
        right: 3em;
        top: 2em;
        text-align: right;
        .m-apply-btns{
            display: flex;
            align-items: center;
        }
        .countdown {
            margin-right: 2em;
            color: $color-countdown--text;
        }
        .btn {
            padding: 0.5em 1em;
            margin: .5em 2em 0px 0px;
            float: right;
            font-size: 1.5em;
            letter-spacing: $letter-spacing-s;
            border-color: $color-pink;
        }
    }
}

.menu {
    position: relative;
    background: $color-primary;
    .m-nav {
        color: $color-menu--text;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: auto 10% auto 20%;
        padding: 0;
        width: 70%;
        z-index: 9;
        white-space: nowrap;
        letter-spacing: $letter-spacing-s;
        .list {
            margin: .2em 0px;
            &:hover {
                color: $color-menu--text-active;
            }
        }
        .text {
            font-size: 1rem;
            @media(max-width: 900px) {
                font-size: .7rem;
            }
        }
    }
}

.m-nav--mobile {
    display: none;
}

.menu_button{
    img{
        display: none;
    }
}

@media (max-width: $table-l) {
    .l-header {
        display: none;
        .m-apply {
            display: none;
        }
    }
    .menu {
        height: auto;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 99;
        .m-nav {
            display: none;
        }
        .menu_button {
            position: absolute;
            width: 100%;
            height: 50px;
            right: 0;
            top: 0;
            z-index: 99;
            cursor: pointer;
            transition: all .7s;
            background-color: $color-menu--bg;
            .menu_button_container {
                position: relative;
                .menu-line {
                    position: absolute;
                    left: 12px;
                    width: 16px;
                    height: 1px;
                    background-color: #FFF;
                    transition: .3s;
                    &:nth-child(1) {
                        top: 20px;
                    }
                    &:nth-child(2) {
                        top: 25px;
                    }
                    &:nth-child(3) {
                        top: 30px;
                    }
                }
            }
            &.is-active {
                .menu-line {
                    &:nth-child(1) {
                        transform: translate(0, 5px) rotate(45deg);
                    }
                    &:nth-child(2) {
                        transform: scale(0);
                    }
                    &:nth-child(3) {
                        transform: translate(0, -5px) rotate(-45deg);
                    }
                }
            }

            img{
                display: block;
                position: relative;
                height: 40%;
                left: 50%;
                transform: translate(-50% , 75%);
            }
        }
    }
    .m-nav--mobile {
        display: block;
        width: 100%;
        color: $color-menu--text;
        background: $color-menu--bg;
        transition: 0.5s;
        z-index: 9;
        position: absolute;
        list-style: none;
        padding: $height-menu 0;
        top: 0;
        transform: translateY(-100%);
        &.is-active {
            transform: translateY(0);
            .list:after {
                opacity: 0.2;
            }
        }
        .list {
            padding: 0.5em;
            padding-left: 1.2em;
            position: relative;
            &:after {
                content: "";
                left: 0;
                height: 2px;
                width: 100%;
                opacity: 0;
                background: $color-menu--text;
                position: absolute;
                transition: 1s;
            }
            &:hover {
                &:after {
                    opacity: 0.5;
                }
            }

            .btn{
                font-size: .7rem;
            }
        }
    }
}

.loading-mask {
    visibility: hidden;
    opacity: 0;
    background: #fff8e3;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 999;
    transition: .7s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    &.is-loading {
        opacity: 1;
        visibility: visible;
    }
    .loading-logo {
        width: 30%;
        min-width: 150px;
        max-width: 350px;
    }
}