/**
 * break-point
 */
$screen-xl:1350px;
$screen-l: 1280px;
$screen-s: 1024px;
$table-l: 767px;
$table-s: 480px;
$mobile-l: 320px;
$mobile-s: 240px;

/**
 * colors
 */

$color-pink:#e95371;
$color-green: #91B122;
$color-yellow: #F3C91D;
$color-light-yellow: #FFFB46;
$color-white: #FFFFFF;
$color-black: #000000;
$color-black-light:#2A2B2A;
$color-gray: #7D7B7D;
$color-light-gray: #FAFAFA;
$color-dark-gray: #595757;

// old-color
$color-waterBlue: #47ADC7;
$color-pinkRed: #EE1F24;
// -----------
$color-primary: $color-yellow;


$color-btn--text: $color-white;
$color-btn--bg: $color-pink;
$color-btn--border: $color-pink;
$color-default--bg: $color-light-gray;
$color-menu--bg: $color-yellow;
$color-menu--text: $color-light-gray;
$color-menu--text-active: $color-dark-gray;
$color-countdown--text: $color-pink;
$color-btn-apply--bg: $color-pink;
$color-btn-apply--text: $color-white;
$color-main-title:$color-gray;
$color-md-content--bg: $color-white;
$color-md-content--text: $color-dark-gray;
$color-subTitle: $color-green;
$color-btn-card--bg: $color-yellow;
$color-btn-card--text: $color-black;
$color-btn-card--border: transparent;
$color-md-content-remind: $color-pink;
$color-title--border: $color-yellow;
$color-footer--bg: $color-dark-gray;
$color-footer--text: $color-white;

/**
 * fonts
 */

$header-font-btn: .7em;
$font-default: "Roboto Condensed",
"Georgia",
"Xin Gothic",
"Hiragino Sans GB",
"Droid Sans Fallback",
"Microsoft YaHei",
sans-serif;


$letter-spacing-s: 2px;
$letter-spacing-m: 4px;
$letter-spacing-l: 8px;
$letter-spacing-xl: 10px;

/**
 * Padding & Margin
 */

$padding-container: 3rem;

/**
 * W & H
 */
$height-header: 230px;
$height-menu: 50px;
$height-footer: 50px;

/**
 * DIV
 */
$border-radius-normal: 18px;
$border-radius-button: 0;

/**
 * anim
 */
$recruit-info-transition: .1s ease-in-out;
$recruit-btn-transition: .1s ease-in-out;