/**
 * colors
 */

$color-waterBlue: #47ADC7;
$color-pinkRed: #EE1F24;
$color-yellow: #FDD000;
$color-white: #FFF;
$color-gray: #7D7B7D;

$color-default--bg: #FAFAFA;
$color-menu--bg: #0ca2b9;
$color-menu--text: #FFF;
$color-countdown--text: #EE1F24;
$color-btn-apply--bg: #EE1F24;
$color-btn-apply--text: #FFF;

$color-pink:#e95371;
$color-yellow:#fdd000;

/**
 * fonts
 */

$font-default: "Georgia",
"Xin Gothic",
"Hiragino Sans GB",
"Droid Sans Fallback",
"Microsoft YaHei",
sans-serif;


$letter-spacing-s: 2px;
$letter-spacing-m: 4px;

/**
 * W & H
 */

$height-header: 110px;
$height-menu: 50px;
