/**
 * colors
 */

$color-pink:#e95371;
$color-green: #91B122;
$color-yellow: #FDD000;
$color-waterBlue: #47ADC7;
$color-pinkRed: #EE1F24;
$color-light-yellow: #FFFB46;
$color-white: #FFFFFF;
$color-gray: #7D7B7D;
$color-light-gray: #FAFAFA;

$color-btn--text: $color-pink;
$color-btn--bg: $color-white;
$color-btn--border: $color-pink;
$color-default--bg: $color-light-gray;
$color-menu--bg: $color-waterBlue;
$color-menu--text: $color-white;
$color-countdown--text: $color-pink;
$color-btn-apply--bg: $color-pink;
$color-btn-apply--text: $color-white;
$color-main-title:$color-gray;


/**
 * fonts
 */

$font-default: "Georgia",
"Xin Gothic",
"Hiragino Sans GB",
"Droid Sans Fallback",
"Microsoft YaHei",
sans-serif;


$letter-spacing-s: 2px;
$letter-spacing-m: 4px;

/**
 * W & H
 */

$height-header: 110px;
$height-menu: 50px;

/**
 * DIV
 */
$border-radius-normal: 18px;
$border-radius-button: 0;

/**
 * anim
 */
$recruit-info-transition: .1s ease-in-out;