/**
 * colors
 */

$color-default--bg: #FAFAFA;
$color-menu--bg: #0ca2b9;
$color-menu--text: #FFF;
$color-countdown--text: #EE1F24;
$color-btn-apply--bg: #EE1F24;
$color-btn-apply--text: #FFF;

$color-pink:#e95371;
$color-yellow:#fdd000;

/**
 * fonts
 */

$font-default: "Georgia",
"Xin Gothic",
"Hiragino Sans GB",
"Droid Sans Fallback",
"Microsoft YaHei",
sans-serif;

/**
 * W & H
 */

$height-header: 110px;
$height-menu: 50px;
