/*
 * @import "main";
 * 正式上線的時候inmport 一個 main即可（開發的時候為求方便import比較多）
 */
@import "compass/support";
@import "compass/css3";
@import "variable";
@import "mixin";
@import "font";
@import "component";
@import "base";
@import "ie";
@import "loading";
@import "header";
@import "footer";

.wrap{
	@extend %wrap-banner;
	background-image: url(../../img/banner/banner-8.jpg);
}

.how-set{
	border-bottom: 0px;
	img{
    width: 60%;
	}
}

#timeline{
    width: 80%;
    margin: 2em 0px 2em 10%;

    @media(max-width: $table-l){
        width: auto;
        margin-left: 0px;    
    }
}