/*
 * @import "main";
 * 正式上線的時候inmport 一個 main即可（開發的時候為求方便import比較多）
 */

@import "compass/support";
@import "compass/css3";
@import "variable";
@import "mixin";
@import "font";
@import "component";
@import "base";
@import "ie";
@import "loading";
@import "header";
@import "footer";
.wrap {
    @extend %wrap-banner;
    background-image: url(../../img/banner/new/banner-faq.png);

    @media(max-width: $table-l){
        background-image: url(../../img/banner/banner-faq.jpg);        
        background-position-x: 80%;
    }
}

.container {
    margin-bottom: 2em;
}

.list {
    list-style: none;
    padding: 0;
    li{
        padding: .2em 0;
    }
    .collapse {
        padding-top: .5em;
        padding-bottom: 1em;
        position: relative;
        transition: .1s ease-in-out;
        &:after {
            content: "";
            position: absolute;
            height: 100%;
            border-left: 3px dotted rgba(243, 201, 29, 0.3);
            left: 0;
            top: 0;
        }
    }
    .content {
        padding: .2rem 1.8rem 0;
        margin: 0;
        font-size: .9em;
        text-align: justify;
    }
}

@media(max-width: $table-s) {
    .container {
        margin-top: 13em;
    }
}