/*
 * @import "main";
 * 正式上線的時候inmport 一個 main即可（開發的時候為求方便import比較多）
 */
@import "compass/support";
@import "compass/css3";
@import "variable";
@import "mixin";
@import "font";
@import "component";
@import "base";
@import "ie";
@import "loading";
@import "header";
@import "footer";

.wrap{
  @extend %wrap-banner;
  background-image: url(../../img/banner/new/banner-how.png);

  @media(max-width: $table-l){
  	background-image: url(../../img/banner/banner-how.png);        
  }
}

.article{
  margin-top: 2rem;

  &:nth-of-type(1){
    padding-top: 0em;
  }
}


