/*
 * @import "main";
 * 正式上線的時候inmport 一個 main即可（開發的時候為求方便import比較多）
 */
@import "compass/support";
@import "compass/css3";
@import "variable";
@import "mixin";
@import "font";
@import "component";
@import "base";
@import "ie";
@import "loading";
@import "header";
@import "footer";

.wrap{
  @extend %wrap-banner;
  background-image: url(../../img/banner/banner-3.jpg);
}

.flex-box{
  display: flex;
  flex-direction: column;
  flex-wrap:wrap;
}

.how-set{
  display: flex;
  flex-wrap:wrap;
  align-items: center;
  border-bottom: solid 2px $color-yellow;
  .img-container{
    flex:1;
    padding: 1em;
    text-align: center;
  }
  .content{
    flex:3;
    padding: 1em;
  }
  img{
    width: 80%;
  }

  &:nth-child(5){
    margin-bottom: 3em;
  }
}

.how-img{
  display:block;
  width: 50%;
  max-width:600px;
  margin:1em auto;

  @media(max-width: $table-l){
    width: 100%;
  }
}

@media(max-width: $table-l){
  .flex-box{
    flex-direction: row;
  }
  .how-set{
    flex-direction: column;
    width: 50%;
  }
}

@media(max-width: $table-s){
  .how-set{
    width: 100%;
  }
}