/*
 * @import "main";
 * 正式上線的時候inmport 一個 main即可（開發的時候為求方便import比較多）
 */
@import "compass/support";
@import "compass/css3";
@import "variable";
@import "mixin";
@import "font";
@import "component";
@import "base";
@import "ie";
@import "loading";
@import "header";
@import "footer";

.wrap{
  @extend %wrap-banner;
  background-image: url(../../img/banner/banner-3.jpg);
}

.flex-box{
  display: flex;
  flex-direction: column;
  flex-wrap:wrap;
  @media (max-width: 767px) {
    flex-direction: row;
  }
}

.how-set{
  display: flex;
  flex-wrap:wrap;
  align-items: center;
  @media (max-width:767px) {
   flex-direction: column;
   width: 50%;
  }
  @media (max-width: 479px) {
    width: 100%;
  }
  .img-container{
    flex:1;
    padding: 1em;
  }
  .content{
    flex:3;
    padding: 1em;
  }
}