/*
 * @import "main";
 * 正式上線的時候import 一個 main即可（開發的時候為求方便import比較多）
 */

@import "compass/support";
@import "compass/css3";
@import "variable";
@import "mixin";
@import "font";
@import "component";
@import "base";
@import "ie";
@import "loading";
@import "header";
@import "footer";
body {
    color: $color-gray;
    letter-spacing: $letter-spacing-s;
}

.title {
    text-align: center;
}

.container{
	margin-top: 3em;
}

.main-desc {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    padding: 1rem $padding-container;
    margin: 0 auto $padding-container;
    border-top: solid $color-yellow;
    border-bottom: solid $color-yellow;
}

.wrap {
    @extend %wrap-banner;
    h3 {
        font-size: 1.2em;
        font-weight: bold;
    }
}

.story-set {
    width: 25%;
    padding: .5rem;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    @media (max-width: $screen-s) {
        width: 50%;
    }
    @media (max-width: $table-l) {
        width: 100%;
    }
    .story-img {
        height: auto;
    }
    .story-name {}
}

.md-modal {
    max-width: 1200px;
    width: 80%;
    max-height: 100%;
    padding: 1em 0;
    filter: blur(0);
}

@media (max-width: $table-l) {
    $padding-container: 1.5rem;
    .main-desc {
        width: 90%;
        padding: 1rem $padding-container;
        margin: $padding-container auto;
    }
}