/*
 * @import "main";
 * 正式上線的時候inmport 一個 main即可（開發的時候為求方便import比較多）
 */
@import "compass/support";
@import "compass/css3";
@import "variable";
@import "mixin";
@import "font";
@import "component";
@import "base";
@import "ie";
@import "loading";
@import "header";
@import "footer";

body{
	color: $color-gray;
	letter-spacing: $letter-spacing-s;
}

.main-desc{
	width: 80%;
  padding: 1rem $padding-container;
  margin: $padding-container auto;
  border-top: solid $color-yellow;
  border-bottom: solid $color-yellow;
}

.wrap{
	@extend %wrap-banner;

	h3{
		font-size: 1.2em;
		font-weight: bold;
	}
}

@media (max-width: $table-l){
	$padding-container: 1.5rem;

	.main-desc{
		width: 90%;
		padding: 1rem $padding-container;
	  margin: $padding-container auto;
	}
}
