/*
 * @import "main";
 * 正式上線的時候import 一個 main即可（開發的時候為求方便import比較多）
 */

@import "compass/support";
@import "compass/css3";
@import "variable";
@import "mixin";
@import "font";
@import "component";
@import "base";
@import "ie";
@import "loading";
@import "header";
@import "footer";
body {
    color: $color-gray;
    letter-spacing: $letter-spacing-s;
}

.title {
    text-align: center;
}

.container {
    margin-top: 3em;
}

.main-desc {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    padding: 1rem $padding-container;
    margin: 0 auto $padding-container;
    border-top: solid $color-yellow;
    border-bottom: solid $color-yellow;
}

.wrap {
    @extend %wrap-banner;
    h3 {
        font-size: 1.2em;
        font-weight: bold;
    }
}

.story-set {
    width: 25%;
    padding: .5rem;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: .1s ease-in-out;
    @media (max-width: $screen-s) {
        width: 50%;
    }
    @media (max-width: $table-l) {
        width: 100%;
    }
    &:hover{
        opacity: .8;
    }
    .story-img {
        height: auto;
    }
    .story-name {}
}

.md-content {
    display: flex;
    max-height: 80vh;
    background: $color-light-gray;
    color: $color-black-light;
    font-size: .8rem;
    @media (max-width: $table-l) {
        max-height: 100%;
        display: block;
        overflow: auto;
    }
    .info-container {
        flex: 1;
        .name{
            color: $color-pink;
            padding: .5em 0;
            font-weight: bold;
        }
        .about-1{
            color: $color-green;
            padding: .5em 0;
        }
        .about-2{
            padding: .5em 0;
        }
    }
    .content-container {
        flex: 3;
        padding: 2rem;
        padding-right: 2.4rem;
        overflow: auto;
        @media (max-width: $table-l) {
            overflow: initial;
        }
    }
}

.md-modal {
    max-width: 1200px;
    width: 80%;
    max-height: 100%;
    padding: 1em 0;
    // filter: blur(0);
    @media (max-width: $table-l) {
        width: 100%;
        height: 100%;
        padding: 0;
    }
}

.md-overlay{
    background: rgba(10,10,10,0.5);
}

.md-show ~ .md-overlay {
	opacity: 1;
	visibility: visible;
}
.btn-story {
    color: $color-black-light;
    position: absolute;
    right: 0;
    border: none;
    padding: 1.2em;
    background: transparent;
    &:active{
        box-shadow: none;
        opacity: .5;
    }
}

// youtube iframe
.embed-responsive{
    width: 100%;
}

@media (max-width: $table-l) {
    $padding-container: 1.5rem;
    .main-desc {
        width: 90%;
        padding: 1rem $padding-container;
        margin: $padding-container auto;
    }
}