@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');
@import 'main';

section {
	margin-bottom: 3em;
    @include animation(section-show 0.1s linear);
}

table{
    width: 100%;
}

.main-recruit {
    display: flex;
    justify-content: center;
    > .btn {
        margin: 45px 4em;
        font-weight: bold;
        letter-spacing: $letter-spacing-s;
        background-color: $color-btn--bg;
        color: $color-btn--text;
        border: 1px solid $color-btn--border;
        padding: 0.8em 4em;
        transition: $recruit-btn-transition;
        &:hover {
            background-color: $color-btn--bg;
            color: $color-btn--text;
            border: 1px solid $color-btn--border;
            font-weight: bold;
        }
        &:active{
            box-shadow: none;
        }
        @media (max-width: 767px) {
        	margin:45px 0;
        	font-size: calc(1vw + 10px);
            width: 50%;
        }
    }
    > .btn-recruit-disable {
        background-color: transparent;
        color: $color-gray;
        border: 1px solid transparent;
        font-weight: normal;
    }
}

.m-info-type {
    text-align: center;
    margin-bottom: 2em;
    &:hover{
        > .gap{
            background: $color-pink;
            color: $color-white;
        }
        p{
            color: $color-white;
        }
        em{
            color: $color-white;
        }
        .info-icons{
            
            .icon-item{
                display: none;
                &.mouseover{
                    display: block;
                }
            }
        }
    }
    > .gap{
        cursor: pointer;
        transition: $recruit-info-transition;
        border:1px solid $color-pink;
        padding:1em;
    }
    .info-icons{
        width: 100%;
        margin:1.5em auto;
        .icon-item{
            transition:$recruit-info-transition;
            &.mouseover{
                display: none;
            }
        }
    }
    > figcaption {
        transition: $recruit-info-transition;
        color: $color-gray;
        font-weight: bold;
        font-size: 1.1rem;
        margin: 20px 5px 4px 5px;
        letter-spacing: $letter-spacing-s;
        @media (max-width: 767px) {
        	margin: 0.5em 0 0;
        }
    }
    p {
        transition: $recruit-info-transition;
        font-size: 0.9rem;
        color: $color-gray;
    }
    em{
        transition: $recruit-info-transition;
    }
}

// Modal css
.md-overlay {
    // background-color: rgba(71, 173, 199, 0.2);
    background: rgba(10,10,10,0.5);
    // background-color: transparent;
}

.blurFix{
	filter:blur(1px)!important;
}

.md-modal {
    max-width: 1200px;
    width: 80%;
    max-height: 100%;
    padding: 1em 0;
    filter: blur(0); //fix text blurring bug
    @media (max-width: 767px) {
    	width: 95%;

    }
    &.md-show{
    	overflow: auto;
    }
}

.md-content {
    background-color: $color-md-content--bg;
    border-radius: $border-radius-normal;
    color: $color-md-content--text;
    h3 {
        font-size: 2em;
        margin-top: 0.2em;
        border-radius: $border-radius-normal;
        white-space: nowrap;
        @media (max-width: 767px) {
            font-size: 1.4em;
        }
    }
    button {
        font-size: 1em;
        padding: .1em 1em;
        margin: 5px auto;
        @media (max-width: 767px) {
        	margin: 0;
    		float: right;
    		font-size: 0.8em;
        }
    }
    table{
    	@media (max-width: 767px) {
    		margin-bottom: 2em;
    	}
    }
    .content-sub{
        margin: 10px 0px;
        @media (max-width: 767px) {
            button{
                margin: auto;
                float: inherit;
                font-size: 1.5em;

            }
        }
    }
    .content-remind{
        font-size: .8em;
        color:$color-light-yellow;
    }
    .row {
        font-size: 1em;
        h2 {
            background-color: $color-white;
            color: $color-pink;
            padding: .5em;
            border-radius: $border-radius-button;
            width: 90%;
            font-size: 1.3em;
            font-weight: bold;
            text-align: center;
            letter-spacing: $letter-spacing-m;
        }
        tr{
            color: $color-white;
        }

        .subTitle {
            top: 1.3em;
            font-weight: bold;
            white-space: nowrap;
            @media (max-width: 767px) {
            	top:0;
            	padding: 10px 1em;
            }
        }
        .content-event {
            font-size: .9em;
            border-top: dashed 1px $color-white;
            td {
                padding: 13px 10px 0px 0px;
            }
        }
        .btn-type-1 {
            position: relative;
            left: 4em;
            @media (max-width: 767px) {
            	left: auto;
    			float: right;
    			font-size: 0.8em;
            }
        }

        .tr-top{
            border-top: none;
        }
    }
    > .content-container {
        font-size: .8em;
        padding: 5px 40px 1.5em;
        @media (max-width: 767px) {
        	padding: 10px;
        }
    }
    > div {
        letter-spacing: $letter-spacing-s;
        padding: 1.1em 40px 5px;
        @media (max-width: 767px) {
        	padding: 1.1em 10px 5px;
        }
    }
}

.type-button {
    position: absolute;
    right: 2em;
    top: 18px;
    background: transparent;
    border: 0px;
    z-index: 10;
    .glyphicon {
        font-size: 2em;
    }
    @media (max-width: 767px) {
    	right: 0;
    }
}


/*
 * Calendar
 */

#recruit-calendar{
    font-weight: normal;
    font-family: 'Roboto Condensed', sans-serif;
}
.calendar-month-box{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: .1em;
    color: $color-gray;

    h2{
        font-size: 1.4em;
        font-weight: bold;
        cursor: pointer;
        &:hover{
            color: $color-pink;
        }
    }

    .month-active{
        color: $color-pink;
    }
 }

.grid{
    text{
        fill: $color-gray;
    }

    .calendar-event{
        font-size: .8em;
    }

    circle{
        fill: $color-pink;
    }
}

.day{
    stroke: $color-pink;
    stroke-width: 1px;
    fill: transparent;
}

.xAxial{
    line{
        display: none;
    }
    path{
        display: none;
    }
    text{
        font-size: 2em;
        fill: $color-pink;
        font-weight: bold;
    }
}

.tooltip{
    transition: opacity linear .3s;

    background-color: $color-pink;
    color: $color-white;
    
    text-align: center;    
    padding: .5em;
    line-height: 1.5;
    font-size: .7em;
    letter-spacing: $letter-spacing-s;
    &:after {
        content: "";
        position: absolute;
        top: -20px;
        left: 50%;
        margin-left: -10px;
        border-width: 10px;
        border-style: solid;
        border-color: transparent transparent $color-pink;
    }
}



