/*
 * @import "main";
 * 正式上線的時候import 一個 main即可（開發的時候為求方便import比較多）
 */

@import "compass/support";
@import "compass/css3";
@import "variable";
@import "mixin";
@import "font";
@import "component";
@import "base";
@import "ie";
@import "loading";
@import "header";
@import "footer";
.wrap {
    @extend %wrap-banner;
    background-image: url(../../img/banner/new/banner-what.png);
    @media(max-width: $table-l) {
        background-image: url(../../img/banner/banner-what.jpg);
    }
}

a[data-toggle] {
    padding-left: 1em;
    position: relative;
    &.is-active {
        .accordion-symbol {
            transform: scale(.8) rotate(90deg);
        }
    }
    .accordion-symbol {
        position: absolute;
        left: 0;
        transition: .5s ease;
        transform: scale(.8);
    }
}

@media(max-width: $table-l) {
    .what-set {
        text-align: center;
        img {
            max-width: 400px;
        }
    }
}