/*
 * @import "main";
 * 正式上線的時候inmport 一個 main即可（開發的時候為求方便import比較多）
 */

@import "compass/support";
@import "compass/css3";
@import "variable";
@import "mixin";
@import "font";
@import "component";
@import "base";
@import "ie";
@import "loading";
@import "header";
@import "footer";
.container {
    margin-bottom: 3em;
}

.wrap {
    @extend %wrap-banner;
    background-image: url(../../img/banner/new/banner-why.png);

    @media(max-width: $table-l){
    	background-image: url(../../img/banner/banner-why.jpg);
	    background-position-x: 65%;
    }
}

.article{
	&:nth-child(1){
		margin-top: 0px;
		.title{
			border-bottom-width: 0px;
			padding-bottom: 0px;
		}
	}
}