<!DOCTYPE html>
<html lang="zh-TW">

<head>
  {{> head}}
  <title gDoc="title">TFT 教師招募網站 | {{title}}</title>
  <link rel="stylesheet" href="./dist/css/layout/apply.css">
  <link id="gDoc" data-name="apply"></link>
</head>

<body>

  {{> header}}
  <div class="overlay"></div>

  <div class="wrap">
    <div class="quote">
      <h3 gDoc="quote">
        「如果你願意為自己冒險一次，直視內心的脆弱面，並相信自己值得蛻變後的勇敢，邀請你，和我們一起參與這場溫柔的改變之旅吧！」
      </h3>
      <span class="author" gDoc="quote-author"> ——第一屆TFT教師李珊</span>
    </div>
  </div>

  <div class="container">
    <article class="article col-sm-10 col-sm-offset-1">
      <h2 class="title" gDoc="title-1">申請資格</h2>
      <div class="list" gDoc="content-1">
        <li>具有中華民國國籍者。</li>
        <li>教育部認可之大專院校畢業。（應屆畢業生須於2017年7月31日前補驗畢業證書正本）</li>
        <li>無教師法第14條第1項各款及教育人員任用條例第31條、第33條各款之情事者。</li>
        <li>男性須役畢或免役，役男最遲須於暑期密集培訓開始前一天退伍。</li>
      </div>
    </article>
    <article class="article col-sm-10 col-sm-offset-1">
      <h2 class="title" gDoc="title-2">申請流程</h2>
      <div class="content" gDoc="content-2">計畫報名採線上報名系統申請，不接受其他管道報名。請由TFT官網進入TFT線上報名系統，於註冊帳號後，線上填寫報名表。報名表共分為四大區塊：基本資料、專業經歷、簡答題、附件區。
      </div>
    </article>

    <article class="article col-sm-10 col-sm-offset-1">
      <h2 class="title" gDoc="title-3">申請須知</h2>
      <div class="list" gDoc="content-3">
      </div>
    </article>

    <article class="article col-sm-10 col-sm-offset-1">
      <h2 class="title" gDoc="title-4">甄選標準</h2>
      <div class="content" gDoc="content-4-1">在甄選的流程中，我們不單只看技術與知識，更檢視申請者是否具備貼近現場需求的能力與信念特質，如：對教育的使命感、同理心、解決問題的能力、激勵他人等。</div>
      <img id="timeline" src="dist/img/apply/apply-timeline.png" alt="甄選時程的圖片">
    </article>

    <article class="article col-sm-10 col-sm-offset-1">
      <h2 class="title" gDoc="title-5">甄選流程</h2>
      <div class="content" gDoc="content-5"></div>

    </article>

    <article class="article col-sm-10 col-sm-offset-1">
      <h2 class="title" gDoc="title-6">【申請建議】</h2>
      <div class="content" gDoc="content-6">
        <ul class="count-ul">
          <li>
            <p><span class="content-bold">注意申請時程</span><br> 第四屆TFT教師申請有兩個梯次，先送件先審理，請於報名截止時間前完整送件，逾時概不受理。
            </p>
            <ul class="circle-ul">
              <li>第一梯次報名期限：2017年3月7日13:00</li>
              <li>第二梯次報名期限：2017年4月5日13:00﻿</li>
            </ul>
          </li>
          <li>
            <p><span class="content-bold">注意申請時程</span><br> 第四屆TFT教師申請有兩個梯次，先送件先審理，請於報名截止時間前完整送件，逾時概不受理。
            </p>
            <ul class="circle-ul">
              <li>第一梯次報名期限：2017年3月7日13:00</li>
              <li>第二梯次報名期限：2017年4月5日13:00﻿</li>
            </ul>
          </li>
        </ul>
        <p class="use-heart">
          ssssss
        </p>
      </div>
    </article>
  </div>


  {{> apply-button}} 
  {{> footer}}
</body>
<script>
  const deadline = new Date(2017, 2, 7, 13); // 2017/03/07 - 13:00
  initializeClock('countdownDIV', deadline);
</script>

</html>