<!DOCTYPE html>
<html lang="zh-TW">

<head>
  {{> head}}
  <title gDoc="title">TFT 教師招募網站 | {{title}}</title>
  <link rel="stylesheet" href="./dist/css/layout/apply.css">
  <link id="gDoc" data-name="apply"></link>
</head>

<body>

  {{> header}}
  <div class="overlay"></div>

  <div class="wrap">
    <div class="quote">
      <h3 gDoc="quote">
        「如果你願意為自己冒險一次，直視內心的脆弱面，並相信自己值得蛻變後的勇敢，邀請你，和我們一起參與這場溫柔的改變之旅吧！」
      </h3>
      <span class="author" gDoc="quote-author"> ——第一屆TFT教師李珊</span>
    </div>
    <a href="index.html#story-box"><button class="btn btn-bg-yellow">閱讀更多TFT故事</button></a>
  </div>

  <div class="container">
    <article class="article col-sm-10 col-sm-offset-1">
      <h2 class="title" gDoc="title-1">申請資格</h2>
      <div class="list" gDoc="content-1">
        <li>具有中華民國國籍者。</li>
        <li>教育部認可之大專院校畢業。（應屆畢業生須於2017年7月31日前補驗畢業證書正本）</li>
        <li>無教師法第14條第1項各款及教育人員任用條例第31條、第33條各款之情事者。</li>
        <li>男性須役畢或免役，役男最遲須於暑期密集培訓開始前一天退伍。</li>
      </div>
    </article>
    <article class="article col-sm-10 col-sm-offset-1">
      <h2 class="title" gDoc="title-2">我們在找誰？</h2>
      <div class="content" gDoc="content-2">
        <p>計畫報名採線上報名系統申請，不接受其他管道報名。請由TFT官網進入TFT線上報名系統，於註冊帳號後，線上填寫報名表。報名表共分為四大區塊：基本資料、專業經歷、簡答題、附件區。</p>
        <img src="dist/img/how/how-8.png" alt="特質能力">
      </div>
    </article>

    <article class="article col-sm-10 col-sm-offset-1">
      <h2 class="title" gDoc="title-3">申請須知</h2>
      <div class="list" gDoc="content-3">
      </div>
    </article>

    <article class="article col-sm-10 col-sm-offset-1">
      <h2 class="title" gDoc="title-4">甄選標準</h2>
      <div class="content" gDoc="content-4-1">在甄選的流程中，我們不單只看技術與知識，更檢視申請者是否具備貼近現場需求的能力與信念特質，如：對教育的使命感、同理心、解決問題的能力、激勵他人等。</div>
      <img id="timeline" src="dist/img/apply/apply-timeline.png" alt="甄選時程的圖片">
    </article>

    <article class="article col-sm-10 col-sm-offset-1">
      <h2 class="title" gDoc="title-5">甄選流程</h2>
      <div class="content" gDoc="content-5"></div>

    </article>

    <article class="article col-sm-10 col-sm-offset-1">
      <h2 class="title" gDoc="title-6">【申請建議】</h2>
      <!-- <div class="content"> -->
      <div class="content" gDoc="content-6">
        <div class="flex-box">
          <figure class="how-set">
            <div class="img-container">
              <img src="dist/img/apply/apply-2.png" alt="注意甄選時程">
              <h4 class="content-bold">注意甄選時程</h4>
            </div>
            <div class="content">
              <p>第四屆TFT教師申請有兩個梯次，先送件先審理，請於報名截止時間前完整送件，逾時概不受理。</p>
              <ul class="circle-ul">
                <li>第一梯次報名期限：2017年3月7日13:00</li>
                <li>第二梯次報名期限：2017年4月5日13:00</li>
              </ul>
              <p>完整的甄選流程約需一個月時間，您可以選擇時間上最適合您的梯次進行報名，確保自己有足夠的時間為各個申請階段做準備，並請務必提前空出面試時段，以利作業。詳情請看招募簡章。
              </p>
            </div>
          </figure>
          <figure class="how-set">
            <div class="img-container">
              <img class="apply-watch-img" src="dist/img/apply/apply-3.png">
              <h4 class="content-bold">了解甄選標準</h4>
            </div>
            <div class="content">
              <p>我們依據八大特質甄選合適之申請者，建議您可以依這八大特質為核心來回憶過去的的經歷，這將對您的申請有很大的幫助。</p>
            </div>
          </figure>
          <figure class="how-set">
            <div class="img-container">
              <img class="apply-watch-img" src="dist/img/apply/apply-4.png">
              <h4 class="content-bold">呈現最好的第一印象</h4>
            </div>
            <div class="content">
              <p>書面申請是我們認識您的第一步，因此務必完整如實填寫每一道題目，讓我們有機會更全面地認識您。</p>
            </div>
          </figure>
        </div>
        <p class="use-heart">
          如果，你認同一位好老師有改變的可能，那麼請你加入TFT，帶領孩子看見他的全世界。 現在，你更有機會找到志同道合的夥伴，一起合作、一起虛心學習、一起接受挑戰、一起付諸實行，在最需要你的地方，用你最珍貴的時間，造成最大的改變。
          <strong>你想要的未來，從你開始！讓我們一起用教育來創造最大的社會價值。</strong>
        </p>

      </div>
    </article>
  </div>


  {{> apply-button}} {{> footer}}
</body>
<script>
  const deadline = new Date(2017, 2, 7, 13); // 2017/03/07 - 13:00
  initializeClock('countdownDIV', deadline);
</script>

</html>