<!DOCTYPE html>
<html lang="zh-TW">

<head>
  {{> head}}
  <title>TFT 教師招募網站 | {{title}}</title>
  <link rel="stylesheet" href="./dist/css/layout/index.css">
  <link rel="stylesheet" href="./dist/css/layout/how.css">
</head>

<body>
  {{> header}}
  <div class="container">
    <div class="row">
      <p class="content">TFT認為，每一個孩子，不論出身背景，都應該擁有良好的教育品質，都應該擁有機會、能力與信心去圓自己的夢想，因此我們需要大量人才的投入，去改善教育不平等。</p>
      <figure class="how-set row">
        <div class="img-container col-sm-3">
          <img src="" alt="招募青年人才">
        </div>
        <p class="col-sm-9">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, aperiam?</p>
      </figure>
      <figure class="how-set row">
        <div class="img-container col-sm-3">
          <img src="" alt="初步強化培訓">
        </div>
        <p class="col-sm-9"></p>
      </figure>
      <figure class="how-set row">
        <div class="img-container col-sm-3">
          <img src="" alt="教室內的改變">
        </div>
        <p class="col-sm-9"></p>
      </figure>
      <figure class="how-set row">
        <div class="img-container col-sm-3">
          <img src="" alt="教室外的改變">
        </div>
        <p class="col-sm-9"></p>
      </figure>
      <figure class="how-set row">
        <div class="img-container col-sm-3">
          <img src="" alt="系統性的改變">
        </div>
        <p class="col-sm-9"></p>
      </figure>
    </div>
  </div>

  {{> footer}}
</body>

</html>