<!DOCTYPE html>
<html lang="zh-TW">

<head>
  {{> head}}
  <title gDoc="title">TFT 教師招募網站 | {{title}}</title>
  <link rel="stylesheet" href="./dist/css/layout/how.css">
  <link id="gDoc" data-name="how"></link>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
  {{> header}}
  <div class="overlay"></div>
  <div class="wrap">
    <div class="quote">
      <h3 gDoc="quote">
        我很慶幸決定來到 TFT為偏鄉教育投入心力，也深深體會教師這個職業真的是會「由於那一點點的感動，換來掏心掏肺的付出！」 任何孩子的改變都是我們未來的希望，也是需要你我共同見證的奇蹟。所以，拿起你手中那把可以改變的鑰匙，我們一起為台灣而教吧！
      </h3>
      <span class="author" gDoc="quote-author"> —— 第一屆TFT教師李思慧</span>
    </div>
  </div>

  <div class="container">
    <div class="col-sm-10 col-sm-offset-1">
      <article class="article">
        <p class="content" gDoc="content-0">Teach For Taiwan是一個兩年全職的教師計畫，我們在尋覓來自多元背景的你，不論你是應屆畢業生、師培生或跨領域工作者，我們期許有能力、有使命感的你加入我們。兩年計畫期間，我們將提供你500小時專業的培訓課程與支持系統，致力提升整體教學品質與教師領導力，短期內協助孩子擁有平等優質的教育環境，長期發展出從各領域發揮影響力的新世代青年運動，為社會帶來正向改變，讓孩子的出身不再限制他的未來。</p>
      </article>
      <article class="article">
        <h2 class="title" gDoc="title-1">改變的歷程，從報名開始</h2>
        <div class="content" gDoc="content-1">
          <p>我們在尋覓來自多元背景的你，不論你是應屆畢業生或跨領域人才，我們重視你是否具備貼近現場需求的信念特質與能力，我們歡迎有能力、有使命感的你加入我們。 2017第四屆教師招募計畫從2017年1月9日開跑，本屆開放兩梯次報名，採先遞件先審制，讓你提早規劃時間，做足萬全準備。
          </p>
          <ul>
            <li>第一梯：3月7日（二）13:00截止；4月12日（三）公告錄取名單</li>
            <li>第二梯：4月5日（三）13:00截止；5月10日（三）公告錄取名單</li>
          </ul>
          <p>甄選分為書面審核、網路面試及現場面試三階段甄選。<a href="#standard" data-toggle="collapse"><strong>甄選標準為何？</strong></a></p>
          <div id="standard" class="collapse">
            <p>在甄選的流程中，我們不單只看技術與知識，更重視申請者是否具備貼近現場需求的信念特質與能力，例如：</p>
            <strong>信念特質</strong>
            <ul>
              <li>教育使命感：你是否相信教育的力量能創造孩子更多改變的可能，並相信自己有能力造成改變？</li>
              <li>企圖心：你是否敢於設立高期許，能積極、有效學習，並有方向地尋找資源以達成目標？</li>
              <li>同理心：你是否能換位思考，傾聽不同的聲音？</li>
              <li>挫折復原力：遭遇挫敗時，是否能快速調整自己，找回自信，全力以赴應盡職責？</li>
            </ul>

            <strong>能力</strong>
            <ul>
              <li>激勵他人：能透過適切言語或行為給予他人關懷及正向回饋，提升他人朝共同目標前進、學習或參與的動力。</li>
              <li>自我察覺：你是否能為自己的行為負責，反思並尋求改善？</li>
              <li>解決問題：你是否能正向面對問題，有方向性地尋求解方，並主動尋求資源？</li>
              <li>溝通組織：你是否能透過提問釐清他人想法，當對象不理解時，能以不同方式協助聽者理解 ，並在溝通過程中與他人激盪出可能的解決方案？</li>
            </ul>
          </div>
        </div>
      </article>
      <article class="article">
        <h2 class="title" gDoc="title-2">去到需要你的地方</h2>
        <div class="content" gDoc="content-2">
          <p><strong>善用教師專長、貼近現場需求的教師配對</strong>
            <br>TFT將根據你的專長及服務區域志願序，在考慮合作學校的需求下做出最適切的媒合。
            <br>行前暑期密集培訓結束後，我們將依照你的專長，以及你對服務地區文化脈絡的熟悉程度，配對至你最能發揮的地方。
          </p>
          <p><strong>以小部隊策略進駐服務區域</strong>
            <br>我們在派駐TFT老師時，將善用小部隊的策略，每個鄰近地區至少分派4~6名TFT老師進駐，強化教師的在地網絡，讓你在改變的路上不會孤單。
          </p>
          <p><strong>我們去哪裡服務</strong>
            <br>TFT將與偏鄉地區具師資需求的小學合作，除了服務師資流動率高的學校以外，亦會投入包括學生組成弱勢、刺激不足、缺乏動能、或偏鄉新型態的實驗學校。目前​，​TFT的合作教學據點遍及雲林、台南、屏東、​花蓮等偏遠地區的國民小學。
            <br>根據你的專長、對地區熟悉程度進行配對
          </p>
        </div>
      </article>
      <article class="article">
        <h2 class="title" gDoc="title-3">擁有兩年完整培訓與支持</h2>
        <div class="content" gDoc="content-3">
          <p>在兩年計畫期間，TFT將提供你完整的教學領導力培訓課程，並與建構完整的支持系統，讓你得到所需的專業能力及各方資源，確保你持續提升教學專業與維持教育熱忱</p>
          <p>為確保你能維持教育熱忱並提升教學專業，維護學生穩定而有品質的學習環境，協助你發揮最大效能。</p>
          <img style="display:block;max-width:600px;margin:0 auto;" src="dist/img/how/how-7.png" alt="">
<p><strong>以教學力、領導力為核心的培訓課程 </strong>
  <br>兩年計畫期間，TFT將提供你根據現場需求打造的培訓課程，強調理論結合實作，參考各國教學領導力（Teaching as Leadership, TAL）課程架構，邀請國內外專業教育工作者授課。</p>
<p>TFT教師核心能力包含兩大面向「領導力」與「教學力」。我們需要能創造長期改變的領導者，因此「領導力」是TFT教師須培養的關鍵能力。為使兩年期間給孩子有品質的教學，培訓還包括「教學力」的專業課程，培養教師教學知能、班級經營、教學實務等。</p>
<p><strong>兩年間超過500個小時的培訓課程</strong>
  <br>領導力與教學利並非截然獨立，而是相輔相成，搭配TFT教師成長歷程，利用寒暑假及學期中週末，透過知識學習、實務演練及自我反思與改進，在「知識」、「實作」、「反思」三大面向不斷循環的過程中持續精進，協助你發揮最大效能。培訓期間，TFT將全額負擔培訓與交通住宿費用。
</p>
<ul>
  <li>行前暑期培訓：預計將於2017年6月底展開六週暑期密集培訓（預計8月第一週結訓），讓你做足萬全準備。</li>
  <li>期中週末培訓：開學後，將於學期間每4到6週舉行一次週末培訓，確保你維持教育熱忱並持續提升教學專業。</li>
  <li>寒暑假培訓：第二年寒暑假將有一～三週回鍋培訓課程及不定期國外交流機會，協助你拓展視野並聚焦長期發展目標。</li>
</ul>
<p><strong>薪資福利保障 </strong>
  <br>在完成暑假六週培訓課程並取得TFT認證的你，將自正式與TFT簽約後（自2017年8月起薪），擁有兩年期間包含寒暑假（2017.8 - 2019.6）穩定薪資與勞健保，並由合作學校提供基本薪資（如代理月薪、代課鐘點費、課後輔導鐘點費，依各校狀況而定）與教師基本權利義務，
  並由TFT提供教學津貼，保障平均每月收入至少新臺幣33,000元（薪資依教職區域與教師學歷專長略有差異)。
</p>
</div>
</article>
<article class="article">
  <h2 class="title" gDoc="title-4">成為教室內外創造改變的領導者</h2>
  <div class="content" gDoc="content-4">
    <p><strong>短期，為有需求的學校注入優質師資</strong>
      <br>渴望用生命影響生命的你，承諾兩年為孩子撐傘走一段路，短期內紓緩偏鄉教師質與量缺乏的問題，並給予自己和孩子不一樣的可能。
    </p>
  </div>
</article>
<article class="article">
  <a href="#read-more" data-toggle="collapse" gDoc="title-5"><strong>何謂校友計畫</strong></a>
  <div id="read-more" class="collapse" gDoc="content-5">
    <p>我們稱呼完成兩年TFT計畫的老師為「校友」。為幫助校友發揮長期跨領域影響力，持續參與改變教育不平等的使命，在兩年計畫內，TFT規劃了校友發展與銜接的各階段目標，希望幫助每個獨一無二的你，都能找到一個延續使命、發揮所長的方向，以及具體能貢獻價值的角色。</p>
    <p>目前，我們提供的資源包含：</p>
    <div class="flex-box">
      <figure class="how-set">
        <div class="img-container">
          <img src="dist/img/how/how-readmore-1.png" alt="招募青年人才">
          <h4>與國北教大研究所合作</h4>
        </div>
        <p class="content" gdoc="set-1">TFT與教育部、國立台北教育大學教育系三方合作，開放修課時間、內容之彈性，協助有意續任教師之TFT校友能取得正式教師證。</p>
      </figure>
      <figure class="how-set">
        <div class="img-container">
          <img src="dist/img/how/how-readmore-2.png" alt="招募青年人才">
          <h4>教練與顧問</h4>
        </div>
        <p class="content" gdoc="set-1">提供TFT教師專業教練 (Coach)與領域顧問，訂定職涯規劃、發展專業。。</p>
      </figure>
      <figure class="how-set">
        <div class="img-container">
          <img src="dist/img/how/how-readmore-3.png" alt="招募青年人才">
          <h4>公辦民營學校師培合作</h4>
        </div>
        <p class="content" gdoc="set-1">與關注弱勢、理念相近之台灣KIST (KIPP-Inspired School in Taiwan)學校合作，參與規劃師資培育與接軌。</p>
      </figure>
      <figure class="how-set">
        <div class="img-container">
          <img src="dist/img/how/how-readmore-4.png" alt="招募青年人才">
          <h4>跨領域座談</h4>
        </div>
        <p class="content" gdoc="set-1">邀請包含華德福學校、五味屋、雲門教室等，拓展TFT教師對教育的想像。此外亦邀請企業合作夥伴（BCG、中磊電子、新竹物流、台積電、奧美公關等）分享教育人才可發揮之影響力。</p>
      </figure>
      <figure class="how-set">
        <div class="img-container">
          <img src="dist/img/how/how-readmore-5.png" alt="招募青年人才">
          <h4>職涯發展課程</h4>
        </div>
        <p class="content" gdoc="set-1">校友發展課程包含職場素養、履歷面試輔導等。</p>
      </figure>
      <figure class="how-set">
        <div class="img-container">
          <img src="dist/img/how/how-readmore-6.png" alt="招募青年人才">
          <h4>獎學金</h4>
        </div>
        <p class="content" gdoc="set-1">針對進修教育學程之TFT校友獎助學金，降低其進修經濟壓力，鼓勵其取得正式教師資格。針對續留原校第三年之校友提供教學津貼，延續對學校、社區的影響力。</p>
      </figure>
    </div>

  </div>
</article>
</div>
</div>

{{> apply-button}}
{{> footer}}
</body>
<script>
  const deadline = new Date(2017, 2, 7, 13); // 2017/03/07 - 13:00
  initializeClock('countdownDIV', deadline);
</script>

</html>