<!DOCTYPE html>

<html style="height:100%;width:100%;margin:0;">

<head>
	{{> head}}
	<title gDoc="title">TFT 教師招募網站 {{title}}</title>
	<link rel="stylesheet" href="./dist/css/layout/index.css"> {{!--gDoc.js--}}
	<script src="src/gDoc.js/gDoc.min.js"></script>
</head>

<body>
	{{> header}}
	<!-- Swiper -->
<!-- 	<div class="swiper-container swiper-index">
		<div class="swiper-wrapper">
			<div class="swiper-slide"><img src="dist/img/banner/banner-1.jpg" alt=""></div>
		</div>
		
		<div class="swiper-pagination--index"></div>
	</div> -->

	<div class="wrap">
		<h3>
			願有一天，台灣所有的孩子，無論出身，都能擁有優質的教育和自我發展的機會。
		</h3>
	</div>

	<section class="container">
		<div class="row">
			<article class="main-desc" gDoc="article-1">
				Teach For Taiwan是一個兩年全職的教師計畫，我們在尋覓來自多元背景的你，不論你是應屆畢業生或跨領域工作者，我們期許有能力、有使命感的你加入我們。兩年計畫期間，我們將提供你500小時專業的培訓課程與支持系統，致力提升你的教學品質與領導力，短期內協助孩子擁有平等優質的教育環境，長期我們希望看見一個由新世代青年發起的運動，從各領域發揮影響力，為社會帶來正向改變，讓孩子的出身不再限制他的未來。
			</article>
		</div>
	</section>
	<section class="container">
		<div class="row">
			<div class="main-desc">
				招募影片嵌入
			</div>
		</div>
	</section>

	<section class="container">
		<div class="row">
			<div class="main-desc">
				第四屆招募故事集
			</div>
		</div>
	</section>
	{{> footer}}
</body>
<!-- Jquery -->
<script type="text/javascript" src="./src/jquery-2.2.4.min.js"></script>
{{!--gDoc.js--}}
<script>
	if (gDoc) {
		gDoc('1JP0tnjFoTQO388FpDELkfM318KSxFMbJgkCaNgR_WZQ', 'index');
	}
</script>
<!-- swiper -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.0/js/swiper.min.js" integrity="sha256-mPcYboxAQddS1GRB/EMb+sp0NBVB5oTBwRMv/y5hoOg="
	crossorigin="anonymous"></script>
<script src="dist/js/index.js"></script>
<script src="dist/js/main.js"></script>
<script>
	var mainBanner = new Swiper('.swiper-container', {
		speed: 400,
		spaceBetween: 100,
		grabCursor: true,
	});   
</script>

</html>