<!DOCTYPE html>

<html style="height:100%;width:100%;margin:0;">

<head>
	{{> head}}
	<title gDoc="title">TFT 教師招募網站 {{title}}</title>
	<link rel="stylesheet" href="./dist/css/layout/index.css"> 
</head>

<body>
	{{> header}}
	<!-- Swiper -->
<!-- 	<div class="swiper-container swiper-index">
		<div class="swiper-wrapper">
			<div class="swiper-slide"><img src="dist/img/banner/banner-1.jpg" alt=""></div>
		</div>
		
		<div class="swiper-pagination--index"></div>
	</div> -->

	<div class="wrap">
		<div class="quote" >
			<h3>
				願有一天，台灣所有的孩子，無論出身，都能擁有優質的教育和自我發展的機會。
			</h3>
		</div>
	</div>

	<section class="container">
		<div class="row">
			<article class="main-desc" gDoc="article-1">
				Teach For Taiwan是一個兩年全職的教師計畫，我們在尋覓來自多元背景的你，不論你是應屆畢業生或跨領域工作者，我們期許有能力、有使命感的你加入我們。兩年計畫期間，我們將提供你500小時專業的培訓課程與支持系統，致力提升你的教學品質與領導力，短期內協助孩子擁有平等優質的教育環境，長期我們希望看見一個由新世代青年發起的運動，從各領域發揮影響力，為社會帶來正向改變，讓孩子的出身不再限制他的未來。
			</article>
		</div>
	</section>
	<section class="container">
		<div class="row">
			<div class="main-desc">
				招募影片嵌入
			</div>
		</div>
	</section>

	<section class="container">
		<div class="row">
				<h2 class="title">第四屆招募故事集</h2>
			<div class="main-desc">
				<figure class="story-set">
					<img src="../dist/img/story/zhang_yu_ting.jpg" alt="" class="story-img">
					<figcaption class="story-name">張瑜婷</figcaption>
				</figure>
				<figure class="story-set">
					<img src="../dist/img/story/he_xue_jing.jpg" alt="" class="story-img">
					<figcaption class="story-name">何雪菁</figcaption>
				</figure>
				<figure class="story-set">
					<img src="../dist/img/story/song_wan_rong.jpg" alt="" class="story-img">
					<figcaption class="story-name">宋琬榕</figcaption>
				</figure>
				<figure class="story-set">
					<img src="../dist/img/story/zheng_ya_xin.jpg" alt="" class="story-img">
					<figcaption class="story-name">鄭雅心</figcaption>
				</figure>
				<figure class="story-set">
					<img src="../dist/img/story/xu_cong_min.jpg" alt="" class="story-img">
					<figcaption class="story-name">許琮閔</figcaption>
				</figure>
				<figure class="story-set">
					<img src="https://dummyimage.com/800x800/000/fff" alt="" class="story-img">
					<figcaption class="story-name">李珊</figcaption>
				</figure>
				<figure class="story-set">
					<img src="../dist/img/story/li_si_hui.jpg" alt="" class="story-img">
					<figcaption class="story-name">李思慧</figcaption>
				</figure>
				<figure class="story-set">
					<img src="https://dummyimage.com/800x800/000/fff" alt="" class="story-img">
					<figcaption class="story-name">徐凡甘</figcaption>
				</figure>
				<figure class="story-set">
					<img src="https://dummyimage.com/800x800/000/fff" alt="" class="story-img">
					<figcaption class="story-name">伍麗華</figcaption>
				</figure>
				<figure class="story-set">
					<img src="https://dummyimage.com/800x800/000/fff" alt="" class="story-img">
					<figcaption class="story-name">珊媽</figcaption>
				</figure>
			</div>
		</div>
	</section>
	{{> footer}}
</body>
<script>
	var mainBanner = new Swiper('.swiper-container', {
		speed: 400,
		spaceBetween: 100,
		grabCursor: true,
	});   
	
	if (gDoc) {
		gDoc('1JP0tnjFoTQO388FpDELkfM318KSxFMbJgkCaNgR_WZQ', 'index');
	}
</script>
<script src="dist/js/index.js"></script>

</html>