<!DOCTYPE html>

<html style = "height:100%;width:100%;margin:0px;">
<head>
	{{> head}}
	<title>{{title}}</title>
	<link rel="stylesheet" href = "./dist/css/layout/index.css">
</head>
<body>
	{{> header}}
	<!-- Swiper -->
    <div class="swiper-container swiper-index">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="https://dummyimage.com/1920x1080/000/fff" alt=""></div>
            <div class="swiper-slide"><img src="https://dummyimage.com/1920x1080/000/fff" alt=""></div>
            <div class="swiper-slide"><img src="https://dummyimage.com/1920x1080/000/fff" alt=""></div>
            <div class="swiper-slide"><img src="https://dummyimage.com/1920x1080/000/fff" alt=""></div>
            <div class="swiper-slide"><img src="https://dummyimage.com/1920x1080/000/fff" alt=""></div>
            <div class="swiper-slide"><img src="https://dummyimage.com/1920x1080/000/fff" alt=""></div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination--index"></div>
    </div>

	{{> footer}}
</body>
<!-- swiper -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.0/js/swiper.min.js" integrity="sha256-mPcYboxAQddS1GRB/EMb+sp0NBVB5oTBwRMv/y5hoOg=" crossorigin="anonymous"></script>
<script type="text/javascript" src="./dist/js/index.js"></script>
</html>