<!DOCTYPE html>
<html lang="zh-TW">
<head>
	{{> head}}
	<title> TFT 教師招募網站 - {{title}}</title>
	<!-- Modal Effect -->
	<link rel="stylesheet" type="text/css" href="src/modalEffect/modalEffect.css" />
	<link rel="stylesheet" href = "./dist/css/layout/recruit.css">
	<script src="src/modalEffect/modernizr.custom.js"></script>
</head>
<body>
	{{> header}}	
	<main class="main-recruit">
		<button class="btn" id = "info">教師招募活動說明</button>
		<button class="btn btn-recruit-disable" id = "calendar">教師招募活動總表</button>
	</main>

	<section class="container" id = "recruit-info">
		<!-- recruit-info -->
		<div class="row">
			<figure class="m-info-type col-sm-6 col-md-3" data-lightbox="type-1">
				<img class="md-trigger" data-modal="info-type-1" src="dist/img/recruit/recruit-info-1.svg" alt="面對面：校園擺攤計畫">
				<figcaption>面對面：校園擺攤計畫</figcaption>
				<p>TFT的校園實體活動不僅能面對面了解TFT，更有機會抽大獎回家。</p>
			</figure>
			<figure class="m-info-type col-sm-6 col-md-3" data-lightbox="type-2">
				<img class="md-trigger" data-modal="info-type-2" src="dist/img/recruit/recruit-info-2.svg" alt="">
				<figcaption>之友會</figcaption>
				<p>各領域對教育充滿熱忱的你，歡迎一起參加實體活動「TFT 之友會」吧！</p>
			</figure>
			<figure class="m-info-type col-sm-6 col-md-3" data-lightbox="type-3">
				<img class="md-trigger" data-modal="info-type-3" src="dist/img/recruit/recruit-info-3.svg" alt="">
				<figcaption>對外演講</figcaption>
				<p>依不同聽眾群需求精心設計多元演講主題，讓你更精準地了解TFT計畫。</p>
			</figure>
			<figure class="m-info-type col-sm-6 col-md-3" data-lightbox="type-4">
				<img class="md-trigger" data-modal="info-type-4" src="dist/img/recruit/recruit-info-4.svg" alt="">
				<figcaption>Coffee Date</figcaption>
				<p>面對面深談，一起走過申請TFT的心路歷程。</p>
			</figure>
			<figure class="m-info-type col-sm-6 col-md-3" data-lightbox="type-5">
				<img class="md-trigger" data-modal="info-type-5" src="dist/img/recruit/recruit-info-5.svg" alt="">
				<figcaption>校園博覽會 / 招募說明會</figcaption>
				<p>TFT前進各大校園就業博覽會！加入我們，成為改變的一份子！</p>
			</figure>
			<figure class="m-info-type col-sm-6 col-md-3" data-lightbox="type-6">
				<img class="md-trigger" data-modal="info-type-6" src="dist/img/recruit/recruit-info-6.svg" alt="">
				<figcaption>線上快問快答</figcaption>
				<p>TFT首次直播節目開播！企劃將於近期上線，敬請期待。</p>
			</figure>
			<figure class="m-info-type col-sm-6 col-md-3" data-lightbox="type-7">
				<img class="md-trigger" data-modal="info-type-7" src="dist/img/recruit/recruit-info-7.svg" alt="">
				<figcaption>熱線你和我</figcaption>
				<p>兩年計畫的疑難雜症，預約熱線，一對一解答困惑。企劃將於近期上線，敬請期待。</p>
			</figure>
			<figure class="m-info-type col-sm-6 col-md-3" data-lightbox="type-8">
				<img class="md-trigger" data-modal="info-type-8" src="dist/img/recruit/recruit-info-8.svg" alt="">
				<figcaption>海外說明會</figcaption>
				<p>Time to go home！捲起袖子，回家參與這場溫柔到不行的社會改造吧！</p>
			</figure>
		</div>

		<div class="m-lightbox">
			<article class="type-1 md-modal md-effect-8" id = "info-type-1">
				<div class="md-content">
					<button class="md-close type-button"><i class="glyphicon glyphicon-remove" aria-hidden="true"></i></button>

					<div class="title-container row">
						<div class="col-sm-6 col-md-5">
							<h2>面對面：校園擺攤計畫</h2>
						</div>
						<p class="col-sm-6 col-md-7 subTitle">適合參加族群 | 大學生，想初步了解TFT計畫者</p>
					</div>
					<div class="content-container row">
						<div class="col-sm-6 col-md-5">
							<p style="padding-top:0px;">在這個科技便利的時代，我們總習慣透過冰冷的螢幕去討論各種熱烈的議題，好像只要一個讚就能表達立場，又或是一個分享就能表達認同。有時候，日子久了，不小心會忘記人與人討論時那個美好的樣子，所以這一次，我們決定前進校園，與 你 面 對 面 說 說 話！</p>
							<p>邀請在校園的你一同前來討論教育的多元樣貌，邀請你，一起成為改變的起點，捲起袖子，共同投入這場溫柔的社會改造。 
							<br>
							<br>
							<span class="color-yellow"><strong>改變一旦開始，就會持續發生！</strong></span></p>
						</div>
						<div class="col-sm-6 col-md-7">
							<h3>活動場次</h3>
							<table>
								<tbody>
					        <tr class="content-event">
					        	<td>輔大 </td>
					        	<td>12.14 - 12.16</td>
					        	<td>10:00 - 15:00</td>
					        	<td>輔仁大學風華廣場</td>
					        </tr>
					        <tr>
					        	<td></td>
					        	<td></td>
					        	<td></td>
					        	<td>
					        		<button class="btn btn-bg-white btn-type-1">立刻報名</button>
					        	</td>
					        </tr>

					        <tr class="content-event">
					        	<td>陽明 </td>
					        	<td>12.19 - 12.23</td>
					        	<td>12:00 - 13:20</td>
					        	<td>陽明大學音前廣場</td>
					        </tr>
					        <tr>
					        	<td></td>
					        	<td></td>
					        	<td></td>
					        	<td >
					        		<button class="btn btn-bg-white btn-type-1">立刻報名</button>
					        	</td>
					        </tr>

					        <tr class="content-event">
					        	<td>台大 </td>
					        	<td>2.20 - 2.24</td>
					        	<td>11:00 - 13:30</td>
					        	<td>台大小福前擺攤區</td>
					        </tr>
					        <tr>
					        	<td></td>
					        	<td></td>
					        	<td></td>
					        	<td>
					        		<button class="btn btn-bg-white btn-type-1">立刻報名</button>
					        	</td>
					        </tr>

					      </tbody>
							</table>
						</div>
					</div>
				</div>
			</article>

			<article class="type-2 md-modal md-effect-8" id = "info-type-2">
				<div class="md-content">
					<button class="md-close type-button"><i class="glyphicon glyphicon-remove" aria-hidden="true"></i></button>

					<div class="title-container row">
						<div class="col-sm-6 col-md-5">
							<h2>之友會</h2>
						</div>
						<p class="col-sm-6 col-md-7 subTitle">適合參加族群 | 在各領域工作，初步想了解TFT計畫者</p>
					</div>
					<div class="content-container row">
						<div class="col-sm-6 col-md-5">
							<p style="padding-top:0px;">在各行各業的你，對教育充滿熱忱，期望捲起袖子，加入實踐的行列嗎？TFT歲末之友會就是最好時機！</p>
							<p>活動中，除了有機會近距離與TFT老師、後勤團隊面對面的接觸外，也能在這裡認識來自不同地方對教育有熱忱的夥伴。這次活動還有分組討論的時間，讓我們一起激盪出好老師所應該具備的特質。
							邀請您親臨現場，為未來勇敢的踏出第一步，為台灣教育帶來更多不一樣的可能性！
							<br>
							<br>
							<span class="color-yellow"><strong><a href="https://docs.google.com/forms/d/e/1FAIpQLSeo1EIZbvs17xE6Y85zRCi_rboanLKHgd6XDcgPLtkzTqffxg/viewform?c=0&w=1" style="text-decoration: underline;">TFT之友會熱烈報名中(點我)</a></strong></span></p>
						</div>
						<div class="col-sm-6 col-md-7">
							<h3>活動場次</h3>
							<table>
								<tbody>
					        <tr class="content-event">
					        	<td>台中場 </td>
					        	<td>12 / 10</td>
					        	<td>14:00 - 16:00</td>
					        	<td>Smohouse思默好時B1</td>
					        </tr>

					        <tr class="content-event">
					        	<td>台北場 </td>
					        	<td>01 / 21</td>
					        	<td>14:00 - 16:00</td>
					        	<td>客家文化中心 3F 媒體簡報室</td>     
					        </tr>
					      </tbody>
							</table>
						</div>
					</div>
				</div>
			</article>


			<article class="type-3 md-modal md-effect-8" id = "info-type-3">
				<div class="md-content">
					<button class="md-close type-button"><i class="glyphicon glyphicon-remove" aria-hidden="true"></i></button>

					<div class="title-container row">
						<div class="col-sm-6 col-md-5">
							<h2>對外演講</h2>
						</div>
						<p class="col-sm-6 col-md-7 subTitle">適合參加族群 | 想精準地了解 TFT 計畫各項議題者</p>
					</div>
					<div class="content-container row">
						<div class="col-sm-6 col-md-5">
							<p style="padding-top:0px;">在演講活動中，TFT將會依照演講單位的邀約、所配合的社團或課程，依聽眾族群設定不同演講主題。無論是您想聽聽畢業校友的經驗談、了解台灣多元教育師資與教育不平等議題、TFT計畫第三方研究成果、師培體系不一樣的可能、教案設計與班級經營分享等，都歡迎您針對有興趣的主題報名對應的場次。
							<br>
							<br>
							<span class="color-yellow"><strong>讓您更精準的了解TFT計畫！</strong></span></p>
						</div>
						<div class="col-sm-6 col-md-7">
							<h3>對外演講場次</h3>
							<table>
								<tbody>
					        <tr class="content-event">
					        	<td>成大場 </td>
					        	<td>12 / 13</td>
					        	<td>19:00 - 21:00</td>
					        	<td>Let's Teach For Taiwan－偏鄉學生需要怎樣的好老師?</td>
					        </tr>
					        <tr>
					        	<td></td>
					        	<td></td>
					        	<td></td>
					        	<td >
					        		<button class="btn btn-bg-white btn-type-3">立刻報名</button>
					        	</td>
					        </tr>

					        <tr class="content-event">
					        	<td>交大場 </td>
					        	<td>12 / 21</td>
					        	<td>15:30 - 17:00</td>
					        	<td>師培之路的另一種可能！</td>	        
					        </tr>
					        <tr>
					        	<td></td>
					        	<td></td>
					        	<td></td>
					        	<td >
					        		<button class="btn btn-bg-white btn-type-3">立刻報名</button>
					        	</td>
					        </tr>

					        <tr class="content-event">
					        	<td>台大場 </td>
					        	<td>12 / 22</td>
					        	<td>19:00 - 21:00</td>
					        	<td>聯合社課－教案設計與班級經營分享</td>
					        </tr>
					        <tr>
					        	<td></td>
					        	<td></td>
					        	<td></td>
					        	<td >
					        		<button class="btn btn-bg-red btn-type-3">敬請期待</button>
					        	</td>
					        </tr>
					      </tbody>
							</table>
						</div>
					</div>
				</div>
			</article>

			<article class="type-4 md-modal md-effect-8" id = "info-type-4">
				<div class="md-content">
					<button class="md-close type-button"><i class="glyphicon glyphicon-remove" aria-hidden="true"></i></button>

					<div class="title-container row">
						<div class="col-sm-6 col-md-5">
							<h2>Coffee Date</h2>
						</div>
						<p class="col-sm-6 col-md-7 subTitle">適合參加族群 | 已完成報名程序，想更深入了解計畫</p>
					</div>
					<div class="content-container row">
						<div class="col-sm-6 col-md-5">
							<p style="padding-top:0px;">你想帶來改變，但對於自己將要面臨的改變，還有著些許的不安嗎？面對轉職的焦慮，對計畫更深入的疑問，或許只要面對面的深談，你就能確立決心。一杯咖啡的時間，讓TFT為你解答內心中的疑惑，讓我們在咖啡香中，將埋藏已久的使命化為實際行動。
							<br>
							<br>
							<span class="color-yellow"><strong>歡迎有高度意願申請TFT教師的你來<a style="text-decoration: underline;" href="javascript:;">點杯咖啡</a></strong></span></p>
						</div>
						<div class="col-sm-6 col-md-7">
							<h3>活動進行方式</h3>
							<p>由1位TFT後勤夥伴與1~4位申請者進行深度討論，除了聽聽TFT後勤人員的回答外，也有機會與其他申請者交流。</p>
							<h3>活動場次</h3>
							<table>
								<tbody>
					        <tr class="content-event">
					        	<td>北部場 </td>
					        	<td>12月底</td>
					        	<td>後門咖啡</td>
					        	<td>
					        		<button class="btn btn-bg-white">立刻報名</button>
					        	</td>
					        </tr>

					        <tr class="content-event">
					        	<td>中部場 </td>
					        	<td>comming soon...</td>
					        	<td></td>
					        	<td>
					        		<button class="btn btn-bg-red">敬請期待</button>
					        	</td>	        
					        </tr>

					        <tr class="content-event">
					        	<td>南部場 </td>
					        	<td>comming soon...</td>
					        	<td></td>
					        	<td>
					        		<button class="btn btn-bg-red">敬請期待</button>
					        	</td>
					        </tr>
					      </tbody>
							</table>
						</div>
					</div>
				</div>
			</article>

			<article class="type-5 md-modal md-effect-8" id = "info-type-5">
				<div class="md-content">
					<button class="md-close type-button"><i class="glyphicon glyphicon-remove" aria-hidden="true"></i></button>

					<div class="title-container row">
						<div class="col-sm-6 col-md-6">
							<h2>校園博覽會 / 招募說明會</h2>
						</div>
						<p class="col-sm-6 col-md-6 subTitle">適合參加族群 | 應屆畢業生，初步想了解TFT計畫者</p>
					</div>
					<div class="content-container row">
						<div class="col-sm-6 col-md-5">
							<p style="padding-top:0px;">用生命影響生命是我們的信念，用教育翻轉世代是我們的使命。</p>
							<p>如果你對未來還有一些想像，如果你正面臨許多抉擇，如果你也渴望一些改變，或許，你可以和我們一起創造更多的可能。
							<br>
							<br>
							TFT前進大學校園就業博覽會，誠摯邀請你認識我們、了解我們。若你也和我們一樣相信著教育的價值，歡迎你加入TFT的行列，與我們一起為偏鄉孩子帶來改變的機會。</p>
						</div>
						<div class="col-sm-6 col-md-7">
							<h3>說明會場次</h3>
							<table>
								<tbody>
					        <tr class="content-event">
					        	<td>台北場</td>
					        	<td>3/5</td>
					        	<td>14:00</td>
					        	<td>台灣大學博雅教學館103教室</td>
					        </tr>

					        <tr class="content-event">
					        	<td>高雄場</td>
					        	<td>3/11</td>
					        	<td>14:00</td>
					        	<td>中山大學</td>  
					        </tr>

					        <tr class="content-event">
					        	<td>新竹場</td>
					        	<td>3/11</td>
					        	<td>10:00 - 16:00</td>
					        	<td>交通大學就業博覽會擺攤</td>  
					        </tr>

					        <tr class="content-event">
					        	<td>台南場</td>
					        	<td>3/12</td>
					        	<td>14:00</td>
					        	<td>成功大學光復校區國<br>際會議廳 第二講堂</td>  
					        </tr>

					        <tr class="content-event">
					        	<td>台中場</td>
					        	<td>3/19</td>
					        	<td>14:00 - 16:00</td>
					        	<td>待公開</td>  
					        </tr>
					      </tbody>
							</table>
							<p class="color-yellow">貼心提醒</p>
							<ul>
								<li>各場說明會需於活動前線上報名，活動報名資訊詳情請見官網或臉書粉絲頁。 </li>
								<li>以上時間地點若有修改，以官網上最後公布之資訊為準。</li>
							</ul>
						</div>
					</div>
				</div>
			</article>

			<article class="type-6 md-modal md-effect-8" id = "info-type-6">
				<div class="md-content">
					<button class="md-close type-button"><i class="glyphicon glyphicon-remove" aria-hidden="true"></i></button>

					<div class="title-container row">
						<div class="col-sm-6 col-md-5">
							<h2>Coffee Date</h2>
						</div>
						<p class="col-sm-6 col-md-7 subTitle">適合參加族群 | 已完成報名程序，想更深入了解計畫</p>
					</div>
					<div class="content-container row">
						<div class="col-sm-6 col-md-5">
							<p style="padding-top:0px;">你想帶來改變，但對於自己將要面臨的改變，還有著些許的不安嗎？面對轉職的焦慮，對計畫更深入的疑問，或許只要面對面的深談，你就能確立決心。一杯咖啡的時間，讓TFT為你解答內心中的疑惑，讓我們在咖啡香中，將埋藏已久的使命化為實際行動。
							<br>
							<br>
							<span class="color-yellow"><strong>歡迎有高度意願申請TFT教師的你來<a href="javascript:;">點杯咖啡</a></strong></span></p>
						</div>
						<div class="col-sm-6 col-md-7">
							<h3>活動進行方式</h3>
							<p>由1位TFT後勤夥伴與1~4位申請者進行深度討論，除了聽聽TFT後勤人員的回答外，也有機會與其他申請者交流。</p>
							<h3>活動場次</h3>
							<table>
								<tbody>
					        <tr class="content-event">
					        	<td>北部場 </td>
					        	<td>12月底</td>
					        	<td>後門咖啡</td>
					        	<td>
					        		<button class="btn btn-bg-white">立刻報名</button>
					        	</td>
					        </tr>

					        <tr class="content-event">
					        	<td>中部場 </td>
					        	<td>comming soon...</td>
					        	<td></td>
					        	<td>
					        		<button class="btn btn-bg-red">敬請期待</button>
					        	</td>	        
					        </tr>

					        <tr class="content-event">
					        	<td>南部場 </td>
					        	<td>comming soon...</td>
					        	<td></td>
					        	<td>
					        		<button class="btn btn-bg-red">敬請期待</button>
					        	</td>
					        </tr>
					      </tbody>
							</table>
						</div>
					</div>
				</div>
			</article>

			<article class="type-7 md-modal md-effect-8" id = "info-type-7">
				<div class="md-content">
					<button class="md-close type-button"><i class="glyphicon glyphicon-remove" aria-hidden="true"></i></button>

					<div class="title-container row">
						<div class="col-sm-6 col-md-5">
							<h2>Coffee Date</h2>
						</div>
						<p class="col-sm-6 col-md-7 subTitle">適合參加族群 | 已完成報名程序，想更深入了解計畫</p>
					</div>
					<div class="content-container row">
						<div class="col-sm-6 col-md-5">
							<p style="padding-top:0px;">你想帶來改變，但對於自己將要面臨的改變，還有著些許的不安嗎？面對轉職的焦慮，對計畫更深入的疑問，或許只要面對面的深談，你就能確立決心。一杯咖啡的時間，讓TFT為你解答內心中的疑惑，讓我們在咖啡香中，將埋藏已久的使命化為實際行動。
							<br>
							<br>
							<span class="color-yellow"><strong>歡迎有高度意願申請TFT教師的你來<a href="javascript:;">點杯咖啡</a></strong></span></p>
						</div>
						<div class="col-sm-6 col-md-7">
							<h3>活動進行方式</h3>
							<p>由1位TFT後勤夥伴與1~4位申請者進行深度討論，除了聽聽TFT後勤人員的回答外，也有機會與其他申請者交流。</p>
							<h3>活動場次</h3>
							<table>
								<tbody>
					        <tr class="content-event">
					        	<td>北部場 </td>
					        	<td>12月底</td>
					        	<td>後門咖啡</td>
					        	<td>
					        		<button class="btn btn-bg-white">立刻報名</button>
					        	</td>
					        </tr>

					        <tr class="content-event">
					        	<td>中部場 </td>
					        	<td>comming soon...</td>
					        	<td></td>
					        	<td>
					        		<button class="btn btn-bg-red">敬請期待</button>
					        	</td>	        
					        </tr>

					        <tr class="content-event">
					        	<td>南部場 </td>
					        	<td>comming soon...</td>
					        	<td></td>
					        	<td>
					        		<button class="btn btn-bg-red">敬請期待</button>
					        	</td>
					        </tr>
					      </tbody>
							</table>
						</div>
					</div>
				</div>
			</article>

			<article class="type-8 md-modal md-effect-8" id = "info-type-8">
				<div class="md-content">
					<button class="md-close type-button"><i class="glyphicon glyphicon-remove" aria-hidden="true"></i></button>

					<div class="title-container row">
						<div class="col-sm-6 col-md-5">
							<h2>Coffee Date</h2>
						</div>
						<p class="col-sm-6 col-md-7 subTitle">適合參加族群 | 已完成報名程序，想更深入了解計畫</p>
					</div>
					<div class="content-container row">
						<div class="col-sm-6 col-md-5">
							<p style="padding-top:0px;">你想帶來改變，但對於自己將要面臨的改變，還有著些許的不安嗎？面對轉職的焦慮，對計畫更深入的疑問，或許只要面對面的深談，你就能確立決心。一杯咖啡的時間，讓TFT為你解答內心中的疑惑，讓我們在咖啡香中，將埋藏已久的使命化為實際行動。
							<br>
							<br>
							<span class="color-yellow"><strong>歡迎有高度意願申請TFT教師的你來<a href="javascript:;">點杯咖啡</a></strong></span></p>
						</div>
						<div class="col-sm-6 col-md-7">
							<h3>活動進行方式</h3>
							<p>由1位TFT後勤夥伴與1~4位申請者進行深度討論，除了聽聽TFT後勤人員的回答外，也有機會與其他申請者交流。</p>
							<h3>活動場次</h3>
							<table>
								<tbody>
					        <tr class="content-event">
					        	<td>北部場 </td>
					        	<td>12月底</td>
					        	<td>後門咖啡</td>
					        	<td>
					        		<button class="btn btn-bg-white">立刻報名</button>
					        	</td>
					        </tr>

					        <tr class="content-event">
					        	<td>中部場 </td>
					        	<td>comming soon...</td>
					        	<td></td>
					        	<td>
					        		<button class="btn btn-bg-red">敬請期待</button>
					        	</td>	        
					        </tr>

					        <tr class="content-event">
					        	<td>南部場 </td>
					        	<td>comming soon...</td>
					        	<td></td>
					        	<td>
					        		<button class="btn btn-bg-red">敬請期待</button>
					        	</td>
					        </tr>
					      </tbody>
							</table>
						</div>
					</div>
				</div>
			</article>

			<!-- overlay element for ModalEffect -->
			<div class="md-overlay"></div>
		</div>	
	</section>
	<!-- /recruit-info -->

	<section class="container is-hidden" id = "recruit-calendar">
		<!-- recruit-calendar -->
		<div class="m-calendar">
			<ul class="month-sel">
				<li>November</li>
				<li>December</li>
				<li>January</li>
				<li>February</li>
				<li>March</li>
			</ul>
			<ul class="week-list">
				<li>sun</li>
				<li>mon</li>
				<li>tue</li>
				<li>wed</li>
				<li>thu</li>
				<li>fri</li>
				<li>sat</li>
			</ul>
			<section class="month-nov">
				<figure class="day-brick">
					<figcaption class="day-num">1</figcaption>
					<!-- activities -->
					<div class="day-activity" data-tag="red" data-tooltip="1">對外演講</div>
					<div class="day-activity" data-tag="green" data-tooltip="2">對外演講2</div>
					<!-- /activities -->
					<!-- tooltip -->
					<aside class="day-tooltip" id="tooltip-1">
						<p>台灣大學：台大地理系友回娘家</p>
						<time>19:00-21:00</time>
						<button class="btn">立刻報名</button>
					</aside>
					<aside class="day-tooltip" id="tooltip-2">
						<p>台灣大學：台大中文系友回娘家</p>
						<time>19:00-21:00</time>
						<button class="btn">立刻報名</button>
					</aside>
					<!-- /tooltip -->
				</figure>
			</section>
			<section class="month-dec"></section>
			<section class="month-jan"></section>
			<section class="month-feb"></section>
			<section class="month-mar"></section>
		</div>
		<!-- /recruit-calendar -->
	</section>
	{{> footer}}
</body>
<!-- Jquery -->
<script type="text/javascript" src="./src/jquery-2.2.4.min.js"></script>

<!-- modal effect.js -->
<script src="./src/modalEffect/classie.js"></script>
<script src="./src/modalEffect/modalEffects.js"></script>
<script>
	// this is important for IEs in Md-effects
	var polyfilter_scriptpath = '/src/modalEffect/';
</script>

<script type="text/javascript" src="./dist/js/recruit.js"></script>
</html>