<!DOCTYPE html>
<html lang="zh-TW">
<head>
	{{> head}}
	<title> TFT 教師招募網站 - {{title}}</title>
	<!-- Modal Effect -->
	<link rel="stylesheet" type="text/css" href="src/modalEffect/modalEffect.css" />
	<link rel="stylesheet" href = "./dist/css/layout/recruit.css">
	<link id="gDoc" data-name="recruit"></link>
	<script src="src/modalEffect/modernizr.custom.js"></script>
	<script type="text/javascript" src="https://unpkg.com/vue@2.1.6/dist/vue.js"></script>
</head>
<body>
	{{> header}}

	<div class="overlay"></div>	
	<main class="main-recruit">
		<button class="btn btn-section" id="info">活動說明</button>
		<button class="btn btn-section btn-recruit-disable" id="calendar">活動總表</button>
	</main>

	<section class="container" id="recruit-info">
		{{> recruit-info}}
	</section>

	<section class="container is-hidden" id="recruit-calendar">
		{{> recruit-calendar}}
	</section>

	{{> apply-button}}
	{{> footer}}

</body>
<script src="./src/modalEffect/classie.js"></script>
<script src="./src/modalEffect/modalEffects.js"></script>
<script type="text/javascript" src="./dist/js/calendarData.js"></script>
<script type="text/javascript" src="./dist/js/recruit.js"></script>
<script>
	const recruit_deadline = new Date(2017, 2, 7, 13); // 2017/03/07 - 13:00
	
	// this is important for IEs in Md-effects
	const polyfilter_scriptpath = '/src/modalEffect/';

	$('.md-trigger').on('click', function(e) {
		$('.md-modal').addClass('blurFix');
		setTimeout(function(){
			$('.md-modal').removeClass('blurFix');
		},100)
	});
	initRecruitPage();
	initializeClock('countdownDIV', recruit_deadline);
</script>

</html>