<!DOCTYPE html>
<html lang="zh-TW">

<head>
  {{> head}}
  <title gDoc="title">TFT 教師招募網站 | {{title}}</title>
  <link rel="stylesheet" href="./dist/css/layout/why.css">
  <link id="gDoc" data-name="why"></link>
</head>

<body>
  {{> header}}
  <div class="overlay"></div>

  <div class="wrap">
    <div class="quote left">
      <h3 gDoc="quote">
        「加入TFT是因為我先看見了意義，所以我願意為它冒險，踏出我的舒適圈。我覺得真正的勇敢，是為自己的選擇負責。」
      </h3>
      <span class="author" gDoc="quote-author"> —— TFT第二屆教師何雪菁</span>
    </div>
    <a href="index.html#story-box"><button class="btn btn-bg-yellow">閱讀更多TFT故事</button></a>
  </div>

  <div class="container">
    <article class="article col-sm-10 col-sm-offset-1">
      <h2 class="title" gDoc="title-1"></h2>
      <p class="content p-font-bold" gDoc="content-1">我們相信，要改變「教育不平等」的問題，需要更多跨領域的人才加入，一起為這個使命努力。</p>
    </article>
    <article class="article col-sm-10 col-sm-offset-1">
      <h2 class="title" gDoc="title-2">為自己而教</h2>
      <div class="content" gDoc="content-2">
        <strong>捐出自己，方能蛻變成更好的自己。</strong>
        <p>深刻的付出，才可能體會背後的獲得；捐出自己，方能蛻變成更好的自己。透過紮實的領導式教學培訓，和深耕在地的經驗積累，TFT相信有一天你能成為有能力創造改變的領導者，帶著第一線的視野和解決問題的能力，繼續在未來的路上推動教育改革。</p><br>
        <p>你有教學的熱忱，在TFT你有紮實的培訓；<br>
        你有踏出舒適圈的勇氣，在TFT你有穩固的支持；<br>
        你有對教育議題的熱忱和關懷，在TFT你有志同道合的夥伴，相互交流激盪，思考更完整、更縝密的解方；<br>
        你有天馬行空的創新想像，在TFT有豐富多元的外部網絡，協助你穩健踏實地實踐理想。</p>
      </div>
      <div class="quote" gDoc="quote-2">
        <img src="dist/img/story/song_wan_rong.jpg" alt="宋婉榕">
        <h2>「來到這裡我不僅開拓了我的教學眼界，想法也越來越不一樣，漸漸地成為一位更多元的老師，讓我能夠看到更多教育的可能性。」</h2>
        <sub>——TFT第二屆教師宋婉榕</sub>
      </div>
    </article>
    <article class="article col-sm-10 col-sm-offset-1">
      <h2 class="title" gDoc="title-3">為教育而教</h2>
      <div class="content" gDoc="content-3">
        <strong>一位好老師，是孩子的全世界。</strong><p>
        教育的核心，在於每一位老師穩定而溫暖的陪伴，帶領孩子認識自己、認識世界，進而找到自己在廣大世界中獨特的價值與位置。<br>

        如果你也相信，一位好老師的帶領能激發孩子更多可能；<br>
        如果你也相信，一位好老師的影響能翻轉孩子的未來；<br>
        如果你也相信，一位好老師就是好的領導者，眾多好的領導者串聯，將能推動教育改革，長期發揮對教育的深遠影響——<p>

        那麼，請勇敢地加入我們，帶領孩子看見他的全世界。
      </div>
      <div class="quote" gDoc="quote-3">
        <img src="dist/img/story/wu_li_hua.jpg" alt="伍麗華">
        <h2>「你走入每個孩子的家庭，你的陪伴讓孩子找到願意努力的理由。」</h2>
        <sub>——前屏東地磨兒國小校長 伍麗華</sub>
      </div>
    </article>
    <article class="article col-sm-10 col-sm-offset-1">
      <h2 class="title" gDoc="title-4">為未來而教</h2>
      <div class="content" gDoc="content-4">
      <strong>你想要的未來，從你開始。</strong><p>
      教育，是改變未來社會的起點。<p>
      你現在的選擇，將影響台灣未來社會的樣貌；<p>
      你所期待的未來，必須從現在的教育著手。<p>
      如果，你希望我們的未來比今天更好，與其等待別人來解決問題，不如由自己捲起袖子，扛起世代責任，創造我們想要看見的改變。
      </div>
      <div class="quote" gDoc="quote-4">
        <img src="dist/img/story/li_si_hui.jpg" alt="李思慧">
        <h2>「我決定不再等待別人來解決問題，而從我自己捲起袖子開始。」</h2>
        <sub>——TFT第一屆教師 李思慧</sub>
      </div>
    </article>
    <article class="article col-sm-10 col-sm-offset-1">
      <h2 class="title" gDoc="title-5">為台灣而教</h2>
      <div class="content" gDoc="content-5">
        
        <strong>捲起袖子，參與一場親身實踐的在地改變</strong><p>

        從看見需求，到回應需求；<p>
        從一位好老師，到一位好的領導者；<p>
        從一個人努力，到一群人同行—<p>

        讓每一個孩子，不論出身，都能有擁有優質的教育和自我發展的機會。<p>

        誠摯邀請你，加入 Teach For Taiwan ，參與這場溫柔的社會革命。<p>
        翻轉教育，翻轉自己，翻轉世代，一起，為台灣而教。<p>
      </div>
      <div class="quote" gDoc="quote-5">
        <img src="dist/img/story/zheng_ya_xin.jpg" alt="鄭雅心">
        <h2>「我心裡有一個很深的地方，非常堅定自己有一個夢想，也非常清楚自己想回來的理由：讓台灣更好。」</h2>
        <sub>——TFT第二屆教師 鄭雅心</sub>
      </div>
    </article>
  </div>

  {{> apply-button}} 
  {{> footer}}
</body>
<script>
  const deadline = new Date(2017, 3, 5, 13); // 2017/04/05 - 13:00
  initializeClock('countdownDIV', deadline);

  // ga
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-72483450-6', 'auto');
  ga('send', 'pageview');
</script>

</html>