<!DOCTYPE html>
<html lang="zh-TW">

<head>
  {{> head}}
  <title gDoc="title">TFT 教師招募網站 | {{title}}</title>
  <link rel="stylesheet" href="./dist/css/layout/why.css">
  <link id="gDoc" data-name="why"></link>
</head>

<body>
  {{> header}}
  <div class="overlay"></div>

  <div class="wrap">
    <div class="quote left">
      <h3 gDoc="quote">
        「加入TFT是因為我先看見了意義，所以我願意為它冒險，踏出我的舒適圈。我覺得真正的勇敢，是為自己的選擇負責。」
      </h3>
      <span class="author" gDoc="quote-author"> —— TFT第二屆教師何雪菁</span>
    </div>
    <a href="index.html#story-box"><button class="btn btn-bg-yellow">閱讀更多TFT故事</button></a>
  </div>

  <div class="container">
    <article class="article col-sm-10 col-sm-offset-1">
      <h2 class="title" gDoc="title-1">參與一場改變</h2>
      <p class="content p-font-bold" gDoc="content-1">我們相信，要改變「教育不平等」的問題，需要更多跨領域的人才加入，一起為這個使命努力。</p>
    </article>
    <article class="article col-sm-10 col-sm-offset-1">
      <h2 class="title" gDoc="title-2">根據現場需求量身打造的專業培訓</h2>
      <div class="content" gDoc="content-2">TFT認為老師是個能帶動改變的領導者，因此TFT以Teach for All累積25年研究高成效教師後設計的教師培訓課程Teaching as Leadership為課程架構，並邀請國內外講師與台灣體制內外專業教育工作者授課。在這兩年教學期間，你會有將近500小時之培訓時數，持續在「知識」、「實作」、「反思」的過程中持續精進，包括：</div>
      <div class="quote" gDoc="quote-2">
        <img src="dist/img/story/song_wan_rong.jpg" alt="宋婉榕">
        <h2>「來到這裡我不僅開拓了我的教學眼界，想法也越來越不一樣，漸漸地成為一位更多元的老師，讓我能夠看到更多教育的可能性。」</h2>
        <sub>——TFT第二屆教師 宋婉榕</sub>
      </div>
    </article>
    <article class="article col-sm-10 col-sm-offset-1">
      <h2 class="title" gDoc="title-3">配對</h2>
      <div class="content" gDoc="content-3">TFT會根據你的專長以及志願的符合程度，在考慮合作學校的需求下做出最合適的配對，運用小部隊的策略，一個行政區至少分派4~6名TFT老師進駐，強化教師的在地網絡！
      </div>
      <div class="quote" gDoc="quote-3">
        <img src="dist/img/story/wu_li_hua.jpg" alt="伍麗華">
        <h2>「你走入每個孩子的家庭，你的陪伴讓孩子找到願意努力的理由。」</h2>
        <sub>——前屏東地磨兒國小校長 伍麗華</sub>
      </div>
    </article>
    <article class="article col-sm-10 col-sm-offset-1">
      <h2 class="title" gDoc="title-4">薪資與福利</h2>
      <div class="content" gDoc="content-4">在完成暑假六週培訓課程並取得認證的你，將會自正式簽約教學後(約八月中)，擁有兩年穩定薪資與勞健保，由合作學校提供基本薪資（如代理月薪、代課鐘點費、課後輔導鐘點費，依各校狀況而定）與教師基本權利義務， 並由TFT視情況提供生活津貼，兩者合計預計平均每月薪資新臺幣三萬三千至三萬六千元不等（薪資依教職區域與教師專長有所差異）。
      </div>
      <div class="quote" gDoc="quote-4">
        <img src="dist/img/story/li_si_hui.jpg" alt="李思慧">
        <h2>「我決定不再等待別人來解決問題，而從我自己捲起袖子開始。」</h2>
        <sub>——TFT第一屆教師 李思慧</sub>
      </div>
    </article>
    <article class="article col-sm-10 col-sm-offset-1">
      <h2 class="title" gDoc="title-5">全方位教師系統支持</h2>
      <div class="content" gDoc="content-5">TFT希望能增進你的教學專業能力，除了協助你克服教學現場的困難外，TFT還會給予你與不同領域教育工作者交流學習的機會，目前支持系統由下列五個部分組成：
      </div>
      <div class="quote" gDoc="quote-5">
        <img src="dist/img/story/zheng_ya_xin.jpg" alt="鄭雅心">
        <h2>「我心裡有一個很深的地方，非常堅定自己有一個夢想，也非常清楚自己想回來的理由：讓台灣更好。」</h2>
        <sub>——TFT第二屆教師 鄭雅心</sub>
      </div>
    </article>
  </div>

  {{> apply-button}} 
  {{> footer}}
</body>
<script>
  const deadline = new Date(2017, 2, 7, 13); // 2017/03/07 - 13:00
  initializeClock('countdownDIV', deadline);

  // ga
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-72483450-6', 'auto');
  ga('send', 'pageview');
</script>

</html>