<footer class="l-footer">
  <ul class="list">
    <li class="item"><a href="http://www.teach4taiwan.org/" target="_blank">官方網站</a></li>
    <li class="item">招募簡章</li>
    <li class="item logo"><img src="dist/img/logo_tft.png" alt=""></li>
    <li class="item"><a href="https://web.npois.com.tw/npopay/tft/index.asp" target="_blank">支持我們</a></li>
    <li class="item m-social">
        <a href="javascript:;"><img src="dist/img/footer-1.png" alt="Facebook - 為臺灣而教"></a>
        <a href="javascript:;"><img src="dist/img/footer-2.png" alt="Instagram - 為臺灣而教"></a>
        <a href="javascript:;"><img src="dist/img/footer-3.png" alt="Youtube - 為臺灣而教"></a>
    </li>
  </ul>

</footer>