<footer class="l-footer">
  <ul class="list">
    <li class="item"><a href="http://www.teach4taiwan.org/" target="_blank">官方網站</a></li>
    <li class="item">招募簡章</li>
    <li class="item logo"><img src="dist/img/logo_tft.png" alt=""></li>
    <li class="item"><a href="https://web.npois.com.tw/npopay/tft/index.asp" target="_blank">支持我們</a></li>
    <li class="item m-social">
        <a href="https://www.facebook.com/teach4taiwan/?ref=ts&fref=ts"><img src="dist/img/footer-1.png" alt="Facebook - 為臺灣而教"></a>
        <a href="https://www.instagram.com/teach4taiwan/"><img src="dist/img/footer-2.png" alt="Instagram - 為臺灣而教"></a>
        <a href="https://www.youtube.com/channel/UCfreYo1mnqLN4Iz66nno1oA"><img src="dist/img/footer-3.png" alt="Youtube - 為臺灣而教"></a>
    </li>
  </ul>

</footer>