<header class="l-header">
	<div class="m-social">
		<a href="javascript:;"><img src="dist/img/icon-fb.png" alt=""></a>
		<a href="javascript:;"><img src="dist/img/icon-instagram.png" alt=""></a>
		<a href="javascript:;"><img src="dist/img/icon-youtube.png" alt=""></a>
	</div>
	<div class="m-logo">
		<a href="javascript:;"><img src="https://dummyimage.com/300x35/000/fff" alt=""></a>
		<a href="javascript:;"><img src="https://dummyimage.com/210x50/000/fff" alt=""></a>
	</div>
	<div class="m-apply">
		<div class="countdown">距離報名截止時間還有<br>
			<span id="countdownDIV">
				<span class="days"></span>
				<span class="smalltext">天</span>
				<span class="hours"></span>
				<span class="smalltext">小時</span>
				<span class="minutes"></span>
				<span class="smalltext">分</span>
				<span class="seconds"></span>
				<span class="smalltext">秒</span>
			</span>
		</div>
		<a href="javascript:;"><button class="btn btn-apply">立即申請</button></a>
	</div>
</header>
{{> nav}}