<!-- Loading
<div class="loading-mask is-loading">
	<img src="dist/img/logo_apply_red.png" alt="logo" class="loading-logo">
</div> -->
<header class="l-header">
	<div class="m-logo">
		<a href="index.html">
			<img src="dist/img/logo_apply_red.png" alt="">
		</a>
		<h3>【TFT 第四屆教師 招募中】</h3>
	</div>
	<div class="m-apply">
		<div class="countdown">距離報名截止還有
			<wbr>
			<span id="countdownDIV">
				<span class="days"> </span>
			<span class="smalltext">天</span>
			<span class="hours"> </span>
			<span class="smalltext">小時</span>
			<span class="minutes"> </span>
			<span class="smalltext">分</span>
			<!-- 				<span class="seconds"> </span>
				<span class="smalltext">秒</span> -->
			</span>
		</div>
		<div class="m-apply-btns">
			<a href="recruit.html" ><button class="btn btn-bg-red">招募活動</button></a>
			<a href="https://tft1.app.box.com/s/fjez4jsbi6a3hm2tc4cp8etzhze02z0b" target="_blank"><button class="btn btn-bg-red">招募簡章</button></a>
			<a href="http://apply.teach4taiwan.org/" target="_blank"><button class="btn btn-bg-red">立即申請</button></a>
		</div>
	</div>
</header>
{{> nav}}