<nav class="menu">

	<div class="menu_button">
		<div class="menu_button_container">
			<div class="menu-line"></div>
			<div class="menu-line"></div>
			<div class="menu-line"></div>
		</div>
		<img src="dist/img/logo_tft.png">
	</div>

	<ul class="m-nav">
		<li class="list" id="list-what"><a href="what.html"><em class="text">TFT看見的問題</em></a></li>
		<li class="list" id="list-how"><a href="how.html"><em class="text">TFT計畫概覽</em></a></li>
		<li class="list" id="list-why"><a href="why.html"><em class="text">為什麼是你</em></a></li>
		<li class="list" id="list-apply"><a href="apply.html"><em class="text">如何申請</em></a></li>
		<li class="list" id="list-faq"><a href="faq.html"><em class="text">常見問答</em></a></li>
	</ul>

	<ul class="m-nav--mobile">
		<li class="list"><a href="index.html"><em class="text">招募首頁</em></a></li>
		<li class="list"><a href="what.html"><em class="text">TFT看見的問題</em></a></li>
		<li class="list"><a href="how.html"><em class="text">TFT計畫概覽</em></a></li>
		<li class="list"><a href="why.html"><em class="text">為什麼是你</em></a></li>
		<li class="list"><a href="apply.html"><em class="text">如何申請</em></a></li>
		<li class="list"><a href="faq.html"><em class="text">常見問答</em></a></li>
		<li class="list"><a href="recruit.html" target="_blank"><button class="btn btn-bg-red">招募活動</button></a></li>
		<li class="list"><a href="https://tft1.app.box.com/s/fjez4jsbi6a3hm2tc4cp8etzhze02z0b" target="_blank"><button class="btn btn-bg-red">招募簡章</button></a></li>
		<li class="list"><a href="http://apply.teach4taiwan.org/" target="_blank"><button class="btn btn-bg-red">立即申請</button></a></li>
	</ul>
</nav>