<nav class="menu">

	<div class="menu_button">
		<div class="menu_button_container">
			<div class="menu-line"></div>
			<div class="menu-line"></div>
			<div class="menu-line"></div>
		</div>
	</div>

	<ul class="m-nav">
		<li class="list"><a href="what.html"><em class="text">TFT看見的問題</em></a></li>
		<li class="list"><a href="how.html"><em class="text">TFT計畫概覽</em></a></li>
		<li class="list"><a href="why.html"><em class="text">為什麼是你？</em></a></li>
		<li class="list"><a href="apply.html"><em class="text">如何申請</em></a></li>
		<li class="list"><a href="faq.html"><em class="text">常見問答</em></a></li>
		<li class="list"><a href="recruit.html"><em class="text">招募活動</em></a></li>
	</ul>

	<ul class="m-nav--mobile">
		<li class="list"><a href="index.html"><em class="text">招募首頁</em></a></li>
		<li class="list"><a href="what.html"><em class="text">TFT看見的問題</em></a></li>
		<li class="list"><a href="how.html"><em class="text">TFT計畫概覽</em></a></li>
		<li class="list"><a href="why.html"><em class="text">為什麼是你？</em></a></li>
		<li class="list"><a href="apply.html"><em class="text">如何申請</em></a></li>
		<li class="list"><a href="faq.html"><em class="text">常見問答</em></a></li>
		<li class="list"><a href="recruit.html"><em class="text">招募活動</em></a></li>

	</ul></nav>