<nav>
	<ul class="m-nav">
		<li class="list"><a href="solution.html"><em class="text">問題與解方</em></a></li>
		<li class="list"><a href="achievment.html"><em class="text">改變與成果</em></a></li>
		<li class="list"><a href="apply.html"><em class="text">申請與甄選</em></a></li>
		<li class="list"><a href="gain.html"><em class="text">資源與收穫</em></a></li>
		<li class="list"><a href="recruit.html"><em class="text">招募活動</em></a></li>
		<li class="list"><a href="faq.html"><em class="text">FAQ</em></a></li>
	</ul>
</nav>