<div class="calendar-month-box calendar-desktop">
	<h2 class="calendar-month" id="desktop-december" v-on:click="setData('december')">December</h2>
	<h2 class="calendar-month" id="desktop-january" v-on:click="setData('january')">January</h2>
	<h2 class="calendar-month" id="desktop-february" v-on:click="setData('february')">February</h2>
	<h2 class="calendar-month" id="desktop-march" v-on:click="setData('march')">March</h2>
	<!-- <h2>April</h2> -->
</div>

<div class="calendar-month-box calendar-mobile">
	<h2 class="calendar-month" id="mobile-december" v-on:click="setData('december')">Dec</h2>
	<h2 class="calendar-month" id="mobile-january" v-on:click="setData('january')">Jan</h2>
	<h2 class="calendar-month" id="mobile-february" v-on:click="setData('february')">Feb</h2>
	<h2 class="calendar-month" id="mobile-march" v-on:click="setData('march')">Mar</h2>
</div>

<div class="calendar-day-box">
	<h2 >Sun</h2>
	<h2 >Mon</h2>
	<h2 >Tue</h2>
	<h2 >Wed</h2>
	<h2 >Thu</h2>
	<h2 >Fri</h2>
	<h2 >Sat</h2>
</div>


<div class="calendar-body">
	<div class = "day" :class="{opacityHidden: !calendarData.is_show, 'calendar-active': calendarData.is_event}" v-for="(calendarData, id) in calendarDatas" v-on:click="showMobileContent(calendarData)">
		<h3 class="date">${calendarData.date}</h3>
		<div class="info">
			<p class="calendar-event" v-on:mouseover="tooltipIn(activity , $event)" v-on:mouseout="tooltipOut" v-on:click="tooltipIn(activity , $event)" v-for="activity in calendarData.activities">${activity.title}</p>
		</div>
	</div>
</div>

<div class="mobile-content calendar-mobile">
	<p >請點選有紅色框框的事件</p>
	<p >日曆出現詳細資訊</p>
</div>

<tooltip class="tooltip" name="tooltip"></tooltip>
