<div class="calendar-month-box calendar-desktop">
	<h2 class="calendar-month" id="desktop-December">December</h2>
	<h2 class="calendar-month" id="desktop-January">January</h2>
	<h2 class="calendar-month" id="desktop-February">February</h2>
	<h2 class="calendar-month" id="desktop-March">March</h2>
	<!-- <h2>April</h2> -->
</div>

<div class="calendar-month-box calendar-mobile">
	<h2 class="calendar-month" id="mobile-December">Dec</h2>
	<h2 class="calendar-month" id="mobile-January">Jan</h2>
	<h2 class="calendar-month" id="mobile-February">Feb</h2>
	<h2 class="calendar-month" id="mobile-March">Mar</h2>
</div>

<div class="mobile-content calendar-mobile">
	<p id="c-mobile-content">請點選有紅色框框的事件</p>
	<p id="c-mobile-location">日曆出現詳細資訊</p>
</div>
