<!-- <h1 style="text-align: center;">再稍等一下～😁</h1> -->
<div class="m-calendar">
	<ul class="month-sel">
		<li>November</li>
		<li>December</li>
		<li>January</li>
		<li>February</li>
		<li>March</li>
	</ul>r
	<ul class="week-list">
		<li>sun</li>
		<li>mon</li>
		<li>tue</li>
		<li>wed</li>
		<li>thu</li>
		<li>fri</li>
		<li>sat</li>
	</ul>
	<section class="month-nov">
		<figure class="day-brick">
			<figcaption class="day-num">1</figcaption>
			
			<div class="day-activity" data-tag="red" data-tooltip="1">對外演講</div>
			<div class="day-activity" data-tag="green" data-tooltip="2">對外演講2</div>
			
			
			<aside class="day-tooltip" id="tooltip-1">
				<p>台灣大學：台大地理系友回娘家</p>
				<time>19:00-21:00</time>
				<button class="btn">立刻報名</button>
			</aside>
			<aside class="day-tooltip" id="tooltip-2">
				<p>台灣大學：台大中文系友回娘家</p>
				<time>19:00-21:00</time>
				<button class="btn">立刻報名</button>
			</aside>
			
		</figure>
	</section>
	<section class="month-dec"></section>
	<section class="month-jan"></section>
	<section class="month-feb"></section>
	<section class="month-mar"></section>
</div> 